// Global SCSS
// Load Variables
@import './global/variables.scss';

@import './global/global.scss';
@import './global/button.scss';
@import './global/skeleton.scss';
@import './global/animate.scss';

// Fields 
@import './global/fields.scss';

// widgets
@import './widgets/hb-question.scss';

// Setup Wizard
@import './template/setup-wizard.scss';

@import './template/dashboard.scss';
@import './template/settings.scss';
@import './template/hosts.scss';
@import './template/meetings.scss';
@import './template/booking.scss';


