.tfhb-meeting-box, .tfhb-booking-cencel{
    .tfhb-reschedule-box {
        margin-bottom: 25px;
        text-align: center;
    }
    
    .tfhb-meeting-card{
        border-radius: 16px;
        border: 0.5px solid $ui150;
        background: $ui0;
        box-shadow: 0px 0px 8px 2px rgba(255, 221, 236, 0.30) inset, 0px 0px 0px 16px $primary150;
        display: flex;
        gap: 24px;
        width: fit-content;
        position: relative;
        @media #{$max1170}{
            flex-wrap: wrap;
        }

        .tfhb-preloader {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            &::after {
                position: absolute;
                left: 0; 
                content: '';
                background-color: $ui1000 !important;
                height: 100%; 
                width: 100%;
                opacity: 0.1;
            }
        } 

        .tfhb-meeting-info{
            width: 322px;
            @media #{$max1170}{
               width: 100%;
               border-radius: 16px 16px 0 0;
            }
            border-right: 0.5px solid $ui150;
            background: $ui0;
            border-radius: 16px 0 0 16px;
            box-shadow: -8px 0px 30px 0px rgba(40, 16, 26, 0.20);
            .tfhb-host-info{
                padding: 38px 16px 16px 16px;
                border-radius: 16px 0 0 0;
                @media #{$max1170}{
                    border-radius: 16px 16px 0 0;
                 }
                .tfhb-host-profile{
                    img{
                        width: 40px;
                        height: 40px; 
                        border-radius: 50%;
                    }
                    .tfhb-host-name{
                        h3{
                            color: $ui0;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 24px; /* 160% */
                            margin: 0;
                        }
                        p{
                            color: $ui0;
                            font-size: 13px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px; /* 153.846% */
                            margin: 0;
                        }
                    }
                }
            }

            .tfhb-meeting-details{
                padding: 8px 16px 16px 16px;
                h2{
                    color: $ui800;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%; /* 33px */
                    margin: 0 0 8px 0;
                }
                p{
                    color:$ui600;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 160% */ 
                    margin: 0 0 16px 0;
                    span{
                        color: $ui800;
                        cursor: pointer;
                    }
                }
                ul{
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    margin-bottom: 40px;
                    li{
                        color: $ui600;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px; /* 160% */
                        margin-bottom: 8px;
                        &:last-child{
                            margin-bottom: 0px;
                        }
                        span{
                            border-radius: 6px;
                            border: 1px solid $ui50;     
                            padding: 0 16px;
                            margin: 0 8px;  
                        }
                        .tfhb-icon{
                            border-radius: 6px;
                            border: 0.2px solid rgba(227, 207, 215, 0.2);
                            background: $ui0;
                            width: 24px;
                            height: 24px; 
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
                .tfhb-timezone{
                    border-radius: 8px;
                    border: 0.5px solid rgba(227, 207, 215, 0.2);
                    background: $ui0;
                    box-shadow: 0px 8px 16px 0px rgba(40, 16, 26, 0.04);
                    padding: 8px 12px;
                    justify-content: space-between; 
                    padding: 0 !important;
                    position: relative;
                    .tfhb-timezone-title{
                        color: $ui800;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px; /* 160% */
                        width: calc(100% - 24px);
                    }
                    .select2-container{
                        width: 100% !important;
                    }
                    .select2-selection {
                        padding-left: 2em !important;
                        border-radius: 8px;
                        height: 40px;
                        padding-top: 8px;
                        padding-bottom: 8px;
                    }
                    .tfhb-timezone-icon {
                        position: absolute;
                        left: 0; 
                        top: 5px;
                        height: 100%;
                        width: 35px;
                        text-align: center;
                    }
                }
            }
        }

        .tfhb-calander-times{
            @media #{$max1170}{
                width: 100%;
                padding: 0px 16px;
                justify-content: space-between;
            }
            @media #{$max767}{
                flex-wrap: wrap;
            }
        }

        .tfhb-meeting-calendar{
            padding: 16px 16px 16px 0;
            width: 536px;
            @media #{$max1170}{
                padding: 0 16px 16px 0;
            }
            @media #{$max767}{
                width: 100%;
                padding: 0 0 16px 0;
            }
            .tfhb-calendar-container {
                width: 520px;
                @media #{$max767}{
                    width: 100%;
                }
            }

            .tfhb-calendar-container header {
                display: flex;
                align-items: center;
                padding: 0px 0px 16px 0;
                justify-content: space-between;
                border-bottom: 0.5px solid rgba(227, 207, 215, 0.20);

                .tfhb-calendar-navigation {
                    display: flex;
                    border-radius: 8px;
                    border: 0.5px solid rgba(227, 207, 215, 0.00);
                    background: $ui0;
                    box-shadow: 0px 8px 16px 0px rgba(40, 16, 26, 0.04);
                    width: 92px;
                    justify-content: space-between;
                    span {
                        cursor: pointer;
                        font-size: 1.9rem;
                        width: 20px;
                        height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    span#tfhb-calendar-next{
                        position: relative;
                        &::before{
                            position: absolute;
                            content: "";
                            width: 8px;
                            height: 8px;
                            background-color: $ui600;
                            border-radius: 50%;
                            left: -30px;
                        }
                    }
                }
            }

            .tfhb-calendar-current-date {
                color: $ui800;
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: 150%; /* 33px */
                margin: 0;
            }
            .tfhb-calendar-body ul.tfhb-calendar-weekdays {
                list-style: none;
                flex-wrap: wrap;
                display: flex;
                text-align: center;
                gap: 0;
                margin: 12px 0 16px 0;
                padding: 0;
                li{
                    color: $ui800;
                    text-align: center;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px; /* 160% */
                    width: calc(100% / 7);
                }
            }
            .tfhb-calendar-body ul.tfhb-calendar-dates {
                list-style: none;
                flex-wrap: wrap;
                display: flex;
                text-align: center;
                gap: 0;
                padding: 0;
                margin: 0;
                li {
                    border: 0.5px solid rgba(227, 207, 215, 0.00);
                    width: calc(100% / 7);
                    color: $ui800;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 160% */
                    padding: 16px 0;
                    &.inactive{
                        color: $ui600;
                        cursor: not-allowed !important;
                        background-color: transparent !important;
                        &::after{
                            position: static !important;
                            margin: 0 !important;
                            border: 0px solid !important;
                        }
                    }
                    &.current {
                        position: relative;
                        z-index: 0;
                        cursor: pointer;
                        &::after{
                            position: absolute;
                            content: "";
                            border-radius: 8px;
                            border: 0.5px solid rgba(227, 207, 215, 0.00);
                            background: $ui50;
                            height: 90%;
                            width: 90%;
                            left: 50%;
                            z-index: -1;
                            margin-left: -45%;
                            top: 5%;
                        }
                    }
                    &.current.active{
                        color: $ui0 !important;
                        position: relative;
                        &::after{
                            position: absolute;
                            content: "";
                            border-radius: 8px;
                            border: 0.5px solid rgba(227, 207, 215, 0.00);
                            box-shadow: 0px 8px 30px 0px rgba(229, 0, 99, 0.3);
                            background: $primaryi !important;
                            height: 90%;
                            width: 90%;
                            left: 50%;
                            z-index: -1;
                            margin-left: -45%;
                            top: 5%;
                        }

                        &::before{
                            position: absolute;
                            content: "";
                            height: 2px;
                            width: 16px;
                            border-radius: 16px;
                            background: $ui0;
                            bottom: 9px;
                            left: 50%;
                            margin-left: -8px;
                        }
                    }
                }
            }
        }

        .tfhb-meeting-times{
            width: 224px;
            padding: 16px 16px 16px 0;
            display: none;
            @media #{$max1170}{
                padding: 0 0 16px 0;
            }
            @media #{$max991}{
                width: calc(100% - 536px);
            }
            @media #{$max767}{
                width: 100%;
            }
            .tfhb-timezone-tabs{
                text-align: right;
                ul{
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    border-radius: 8px;
                    border: 0.5px solid rgba(227, 207, 215, 0.2);
                    background: $ui0;
                    box-shadow: 0px 8px 16px 0px rgba(40, 16, 26, 0.04);
                    padding: 4px;
                    display: inline-flex;
                    li{
                        label{
                            display: inline-block;
                            padding: 4px 8px;
                            color: $ui500;
                            font-size: 11px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 16px; /* 145.455% */
                            cursor: pointer;
                           
                            input{
                                display: none;
                            }
                        }
                        &.active{
                            label{
                                border-radius: 4px;
                                background: $ui50;
                                color: $ui800;
                            }
                        }
                    }
                }
            }
            h3{
                color: $ui800;
                font-size: 17px;
                font-style: normal;
                font-weight: 600;
                line-height: 150%; /* 25.5px */
                margin: 24px 0 16px 0;
            }
            .tfhb-available-times{
                ul{
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    max-height: 338px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 12px;
                    overflow-y: auto;
                    li{
                        gap: 12px;
                        width: 100%;
                        span{
                            border-radius: 8px;
                            border: 0.5px solid $primaryi;
                            background: $ui0;
                            padding: 16px 10px;
                            color: $primaryi;
                            text-align: center;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px; /* 160% */
                            width: 100%;
                            text-align: center;
                            cursor: pointer;
                            @media #{$max991}{
                                padding: 16px 1px;
                            }
                        }
                        span.next{
                            border-radius: 8px;
                            background: $primaryi;
                            color: $ui0;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }

        .tfhb-meeting-booking-form{
            width: calc(100% - 346px);
            padding: 16px 16px 16px 0;
            @media #{$max1170}{
                padding: 0 16px 16px 16px;
                width: 100%;
            }
            .tfhb-back-btn{
                align-items: center;
                cursor: pointer;
                h3{
                    color: $ui800;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%; /* 25.5px */
                    margin: 0;
                }
            }
            .tfhb-forms{
                flex-wrap: wrap;
                gap: 16px;
                margin-top: 16px;
                .tfhb-single-form{
                    width: 100%;
                    label{
                        color: $ui800;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px; /* 153.846% */
                        margin: 0 0 4px 0;
                    }
                    input[type="text"],
                    input[type="email"],
                    textarea{
                        border-radius: 8px;
                        border: 0.5px solid $ui150;
                        background: $ui0;
                        height: 40px;
                        width: 100%;
                        padding: 8px 12px;
                        &:focus{
                            outline: none;
                            box-shadow: none;
                        }
                    }
                    textarea{
                        height: 90px;
                    }
                }
                .tfhb-confirmation-box{
                    flex-wrap: wrap;
                    gap: 24px;
                    margin: 16px 0;
                    .tfhb-swicher-wrap{
                        width: 100%;
                        align-items: center;
                        .swicher-label{
                            color: $ui800;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px; /* 160% */
                        }
                    }
                    .tfhb-checkbox-wrap{
                        width: 100%;
                    }
                }

                .tfhb-confirmation-button{
                    width: 100%;
                    button{
                        border-radius: 8px;
                        background: $primaryi;
                        padding: 16px;
                        color: $ui0;
                        justify-content: center;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px; /* 160% */
                        cursor: pointer;
                        width: 224px;
                        border: 0px solid;
                    }
                }
            }
        }


        .tfhb-meeting-confirmation{
            width: 500px;
            margin: 64px 265px 64px;
            .tfhb-confirmation-seccess{
                text-align: center;
                img{
                    height: 66px;
                    width: 66px;
                    margin-bottom: 24px;
                }
                h3{
                    color: $ui800;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%; /* 33px */
                    margin: 0 0 16px 0;
                }
                p{
                    color: $ui600;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 160% */
                    margin: 0 0 16px 0;
                }
            }
            .tfhb-meeting-hostinfo{
                border-radius: 8px;
                background: $ui25;
                padding: 24px;
                h3{
                    color: $ui800;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%; /* 25.5px */
                }
                ul{
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    li{
                        color: $ui600;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px; /* 160% */
                        padding-bottom: 8px;
                        margin-bottom: 8px;
                        border-bottom: 1px solid rgba(227, 207, 215, 0.10);
                        &:last-child{
                            margin-bottom: 0px;
                        }
                        span{
                            border-radius: 16px;
                            background: $info50;
                            padding: 4px 8px;
                            color: $info600;
                            font-size: 11px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 16px; /* 145.455% */
                        }
                        .tfhb-icon{
                            border-radius: 6px;
                            border: 0.2px solid rgba(227, 207, 215, 0.2);
                            background: $ui0;
                            width: 24px;
                            height: 24px; 
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }

            .tfhb-meeting-confirmation-calender{
                margin: 32px 0 0 0;
                h3{
                    color:$ui800;
                    text-align: center;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 160% */
                    margin: 0 0 8px 0;
                }
                ul{
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    justify-content: center;
                    li{
                        a{
                            img{
                                width: 32px;
                                height: 32px;
                            }
                        }
                    }
                }
            }   

            .tfhb-meeting-confirmation-action{
                justify-content: center;
                margin-top: 24px;
                button, a{
                    border-radius: 8px;
                    border: 1px solid $ui50;
                    background: $ui0;
                    padding: 8px 24px;
                    width: 158px;
                    color: $ui600;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 160% */
                    cursor: pointer;
                    
                }
            }
        }
    }
}
.tfhb-single-meeting-section{
    padding: 60px 0px;
}