.tfhb-admin-booking{
    >.tfhb-dashboard-heading {
        margin-right: 16px !important;
    }
    .tfhb-content-wrap{
        .tfhb-meeting-title{
            width: 100%;
            .p-autocomplete{
                width: 100%;
                input{
                    padding: 8px 8px 8px 12px;
                    min-width: 100%;
                    border-radius: 4px;
                    border: 1px solid $ui50;
                    background-color: transparent;
                    line-height: 20px;
                    height: 40px;
                    margin: 0;
                    box-shadow: none;
                    color: $ui500 !important;
                    font-size: 14px;
                    &::placeholder{
                        color: $ui500 !important; 
                    }
                }
            }
        }
    }
}
.tfhb-booking-details{
    margin-right: 15px;
   
    table{
        width: 100%;
        border-radius: 8px;
        background: $ui50;
        thead{
            border-bottom: 1px solid $ui50;
            th{
                padding: 12px 16px;
                color: $ui600;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 160% */
                text-align: left;
            }
        }
        tbody{
            tr{
                background-color: #fff;
                td{
                    padding: 16px;
                    color: $ui600;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    border: 0px solid;
                    border-bottom: 1px solid $ui50;
                    .checkbox-lists{
                        label{
                            
                            .checkmark {
                                position: relative;
                                top: 0px;
                                left: 0px;
                                height: 20px;
                                width: 20px;
                                background-color: $ui50;
                                border-radius: 5px;
                                border: 1px solid $ui50;
                                margin: 0 !important;
                                &:after {
                                    content: "";
                                    position: absolute;
                                    left: 6px;
                                    top: 2px;
                                    width: 5px;
                                    height: 10px;
                                    border: solid $ui50;
                                    border-width: 0 3px 3px 0;
                                    -webkit-transform: rotate(45deg);
                                    -ms-transform: rotate(45deg);
                                    transform: rotate(45deg);
                                    display: none;
                                }
                            }
                            input:checked~.checkmark {
                                background-color: $primaryi;
                                border: 1px solid $primaryi;
                            }
                            input:checked~.checkmark:after {
                                display: block;
                            }
                        }
                        input[type="checkbox"]{
                            display: none;
                        }
                    }
                    span{
                        font-size: 13px; 
                        display: block;
                        margin: 0 !important;
                    }
                    .tfhb-details-action{
                        a{
                            color: $ui600;
                            text-decoration: none;
                        }
                        span{
                            color: $ui600;
                            cursor: pointer;
                        }
                    }
                    .tfhb-details-status{
                        .status{
                            border-radius: 16px;
                            background: $alert50;
                            padding: 2px 8px;
                            color: $alert600;
                            text-align: center;
                            font-size: 11px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 16px; /* 145.455% */
                            text-transform: capitalize;
                            &.approved{
                                background: $success50; 
                                color: $success600; 
                            }
                            &.canceled{
                                background: $warning50; 
                                color: $warning600; 
                            }
                            &.schedule{
                                background-color: $info50;
                                color: $info600;
                            }
                        }
                        .tfhb-status-bar{
                            cursor: pointer;
                            position: relative;
                            .tfhb-status-popup{
                                width: 140px; 
                                border-radius: 6px;
                                background: $ui50;
                                padding: 2px;
                                position: absolute;
                                right: 0;
                                visibility: hidden;
                                opacity: 0;
                                transition: all 0.3s ease-in-out;
                                z-index: 99;
                                ul{
                                    
                                    li{
                                        padding: 8px 12px; 
                                        border-radius: 4px; 
                                        background: $success50; 
                                        color: $success600;
                                        font-size: 15px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 24px; /* 160% */
                                        width: 100%;
                                        &.pending{
                                            background-color: $alert50;
                                            color: $alert600;
                                        }
                                        &.schedule{
                                            background-color: $info50;
                                            color: $info600;
                                        }
                                        &.canceled{
                                            background-color: $warning50;
                                            color: $warning600;
                                        }
                                    }
                                }
                            }
                            &:hover .tfhb-status-popup,
                            &:focus .tfhb-status-popup {
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
    .tfhb-booking-details-pagination{
        .tfhb-prev-next-button{
            border-radius: 8px;
            border: 1px solid #fff;
            background: #fff;
            padding: 8px 14px;
            a{
                color: $ui600;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 160% */
                text-decoration: none;
            }
        }
        .tfhb-pagination{
            ul{
                li{
                    height: 40px;
                    width: 40px;
                    padding: 12px;
                    color: $ui600;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 160% */
                    box-sizing: border-box;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a{
                        text-decoration: none;
                        color: $ui600;
                    }
                    &.active{
                        background-color: #fff;
                        color: $ui800;
                    }
                }
            }
        }
    }
}

// Booking Details Quick View Design
.tfhb-attendee-info{
    border-bottom: 1px solid $ui50; 
    .tfhb-attendee-box{
        .tfhb-attendee-name{
            width: calc(33.333% - 16px);
            h4{
                color: $ui800 !important;
                font-size: 13px;
                font-style: normal;
                font-weight: 400 !important;
                line-height: 20px; /* 153.846% */
                margin: 0 0 12px 0 !important;
            }
            p{
                color: $ui600 !important;
                font-size: 15px !important;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 160% */
                margin: 0 !important;
            }
        }
    }
}