.tfhb-admin-booking{
    >.tfhb-dashboard-heading {
        margin-right: 16px !important;
    }
    .tfhb-content-wrap{
        .tfhb-meeting-title{
            width: 100%;
            .p-autocomplete{
                width: 100%;
                input{
                    padding: 8px 8px 8px 12px;
                    min-width: 100%;
                    border-radius: 4px;
                    border: 1px solid $ui50;
                    background-color: transparent;
                    line-height: 20px;
                    height: 40px;
                    margin: 0;
                    box-shadow: none;
                    color: $ui500 !important;
                    font-size: 14px;
                    &::placeholder{
                        color: $ui500 !important; 
                    }
                }
            }
        }
    }
    .tfhb-booking-view{
        border-radius: 8px;
        border: 1px solid #F6EEF2;
        background: #FFF;
        padding: 4px;
        .tfhb-list-calendar{
            ul{
                align-items: center;
                li{
                    height: 32px;
                    width: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    &.active{
                        border-radius: 4px;
                        background: #FEE6F0;
                        svg{
                            color: #F62881;
                        }
                    }
                }
            }
        }
    }
    .tfhb-booking-create{
        border-radius: 16px;
        background: #fff;
        padding: 32px;
        width: 980px;
        margin: 0 auto;
    }

    // Booking Calendar
    .tfhb-booking-calendar{
        margin-left: 16px;
        border-radius: 16px 16px 0px 0px;
        background: #FFF;
        padding: 24px;
        margin-right: 16px;

        .fc-header-toolbar{
            .fc-toolbar-chunk{
                &:nth-child(2){
                    position: absolute;
                    left: 50%;
                    width: 300px;
                    margin-left: -150px;
                    text-align: center;
                    >div{
                        display: flex;
                        align-items: center;
                        gap: 28px;
                        justify-content: center;
                        button{
                            height: 24px;
                            width: 24px;
                            border-radius: 8px;
                            border: 0.2px solid #E3CFD7;
                            background: #FFF;
                            padding: 0;
                            &:focus{
                                box-shadow: none;
                                outline: none;
                            }
                            span{
                                margin: 0px !important;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 100%;
                                &::before{
                                    color: #F62881;
                                }
                            }
                        }
                        h2{
                            color: #765664 !important;
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 400 !important;
                            line-height: 112%;
                            margin: 0 !important;
                        }
                    }
                }
                &:nth-child(3){
                    position: absolute;
                    left: 50%;
                    width: 220px;
                    margin-left: -117px;
                    top: 100px;
                    .fc-button-group{
                        border-radius: 24px;
                        border: 1px solid #F6EEF2;
                        background: #FFF;
                        padding: 4px;
                        display: flex;
                        gap: 8px;
                        button{
                            background: #FFF;
                            color: #8F707D;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px; /* 160% */
                            border: 0px solid;
                            padding: 8px 12px;
                            border-radius: 24px;
                            text-transform: capitalize;
                            &:focus{
                                box-shadow: none;
                                outline: none;
                            }
                            &.fc-button-active{
                                background: #F6EEF2;
                                color: #F62881;
                                position: relative;
                                padding-left: 27px;
                                &::before{
                                    position: absolute;
                                    content: "";
                                    left: 12px;
                                    height: 7px;
                                    width: 7px;
                                    background: #F62881;
                                    border-radius: 50%;
                                    top: 50%;
                                    margin-top: -3.5px;
                                }
                            }
                        }
                    }
                }
            }
            
        }

        table{
            border: 0px solid;
            .fc-scrollgrid-section-header{
                .fc-scroller-harness{
                    .fc-scroller{
                        overflow: hidden !important;
                    }
                }
                th{
                    border: 0px solid;
                    .fc-col-header{
                        tr{
                            th{
                                border: 0px solid;
                                a{
                                    color: #765664;
                                    font-size: 15px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 24px; /* 160% */
                                    padding: 8px;
                                }
                            }
                        }
                    }
                }
                
            }
            .fc-scrollgrid-section-body{
                > td{
                    border: 0px solid;
                }
                table{
                    tr{
                        td{
                            border: 1px solid #F6EEF2;
                            padding: 8px;
                            // height: 150px;
                            background-color: transparent;
                            .fc-daygrid-day-top{
                                a{
                                    color: #211319;
                                    font-size: 15px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 24px; /* 160% */
                                }
                            }
                            .fc-daygrid-day-events{
                                .fc-daygrid-event-harness{
                                    margin-bottom: 8px;
                                    &:last-child{
                                        margin-bottom: 0px;
                                    }
                                    a{
                                        border: 0px solid;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        font-size: 13px;
                                        font-style: normal;
                                        font-weight: 600;
                                        line-height: 20px; /* 153.846% */
                                        padding: 0;
                                        background: transparent;
                                        b{
                                            padding: 6px 8px;
                                            color: #002AB3;
                                            width: 100%;
                                            border-left: 1px solid #002AB3;
                                            background: #EBEFFF;
                                            border-radius: 8px;
                                            display: block;
                                            line-height: 15px;
                                            cursor: pointer;
                                        }
                                        b.confirmed{
                                            color: #17723F;
                                            border-left: 1px solid #17723F;
                                            background: #E6FAEE;
                                        }
                                    }
                
                                    .tfhb-calendar-popup{
                                        cursor: pointer;
                                    }
                                }
                            }
                            .fc-daygrid-day-bottom{
                                a.fc-more-link{
                                    border-radius: 16px;
                                    border: 1px solid #F62881;
                                    background: #FAF5F7;
                                    overflow: hidden;
                                    color: #F62881;
                                    text-overflow: ellipsis;
                                    font-size: 13px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 20px; /* 153.846% */
                                    padding: 6px 8px;
                                }
                            }
                        }
                        td.fc-day-other{
                            .fc-daygrid-day-top{
                                opacity: 1;
                                a{
                                    color: #E3CFD7;
                                }
                            }
                        }
                    }
                }
                .fc-timegrid-body{
                    .fc-timegrid-cols{
                       table{
                        tbody{
                            tr{
                                td{
                                    .fc-timegrid-col-events{
                                        .fc-timegrid-event-harness{
                                            width: 100% !important;

                                            &:last-child{
                                                margin-bottom: 0px;
                                            }
                                            a{
                                                border: 0px solid;
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                                font-size: 13px;
                                                font-style: normal;
                                                font-weight: 600;
                                                line-height: 20px; /* 153.846% */
                                                padding: 0;
                                                background: transparent;
                                                b{
                                                    padding: 6px 8px;
                                                    color: #002AB3;
                                                    width: 100%;
                                                    border-left: 1px solid #002AB3;
                                                    background: #EBEFFF;
                                                    border-radius: 8px;
                                                    display: block;
                                                    line-height: 15px;
                                                    cursor: pointer;
                                                }
                                                b.confirmed{
                                                    color: #17723F;
                                                    border-left: 1px solid #17723F;
                                                    background: #E6FAEE;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                       } 
                    }
                }
            }
        }

        .fc-theme-standard .fc-popover{

            .fc-popover-body {
                .fc-daygrid-event-harness{
                    margin-bottom: 8px;
                    &:last-child{
                        margin-bottom: 0px;
                    }
                    a{
                        border: 0px solid;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 20px; /* 153.846% */
                        padding: 0;
                        background: transparent;
                        b{
                            padding: 6px 8px;
                            color: #002AB3;
                            width: 100%;
                            border-left: 1px solid #002AB3;
                            background: #EBEFFF;
                            border-radius: 8px;
                            display: block;
                            line-height: 15px;
                            cursor: pointer;
                        }
                        b.confirmed{
                            color: #17723F;
                            border-left: 1px solid #17723F;
                            background: #E6FAEE;
                        }
                    }
                }
            }

        }
        .fc-dayGridMonth-view{
            .fc-scrollgrid-section-body{
                table{
                    tr{
                        td{
                            height: 150px;
                            .fc-daygrid-day-events{
                                left: 8px;
                                right: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
    .tfhb-booking-calendar-popup{
        .tfhb-popup-wrap{
            padding: 16px 20px 20px 20px !important;
            .tfhb-dashboard-heading{
                flex-wrap: nowrap !important;
            }
            .tfhb-single-form-field-wrap{
                .tfhb-time-date-view{
                    border-radius: 4px;
                    border: 1px solid #F6EEF2;
                    background-color: transparent;
                    padding: 8px 8px 8px 12px;
                    flex-wrap: nowrap !important;
                    justify-content: normal !important;
                    gap: 8px !important;
                    height: 40px;
                    input{
                        min-width: auto !important;
                        padding: 0;
                        border: 0px;
                        height: auto;
                    }
                }
            }
            .tfhb-popup-actions{
                .tfhb-btn{
                    padding-left: 16px;
                    padding-right: 16px;
                    &.tfhb-warning{
                        border-radius: 8px;
                        border: 1px solid #AC0C22;
                        background: #FEECEE;
                        color: #AC0C22;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px; /* 160% */
                    }
                }
            }
        }
    }
}
.tfhb-booking-details{
    margin-right: 15px;
   
    table{
        width: 100%;
        border-radius: 8px;
        background: $ui50;
        thead{
            border-bottom: 1px solid $ui50;
            th{
                padding: 12px 16px;
                color: $ui600;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 160% */
                text-align: left;
            }
        }
        tbody{
            tr{
                background-color: #fff;
                td{
                    padding: 16px;
                    color: $ui600;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    border: 0px solid;
                    border-bottom: 1px solid $ui50;
                    .checkbox-lists{
                        label{
                            
                            .checkmark {
                                position: relative;
                                top: 0px;
                                left: 0px;
                                height: 20px;
                                width: 20px;
                                background-color: $ui50;
                                border-radius: 5px;
                                border: 1px solid $ui50;
                                margin: 0 !important;
                                &:after {
                                    content: "";
                                    position: absolute;
                                    left: 6px;
                                    top: 2px;
                                    width: 5px;
                                    height: 10px;
                                    border: solid $ui50;
                                    border-width: 0 3px 3px 0;
                                    -webkit-transform: rotate(45deg);
                                    -ms-transform: rotate(45deg);
                                    transform: rotate(45deg);
                                    display: none;
                                }
                            }
                            input:checked~.checkmark {
                                background-color: $primaryi;
                                border: 1px solid $primaryi;
                            }
                            input:checked~.checkmark:after {
                                display: block;
                            }
                        }
                        input[type="checkbox"]{
                            display: none;
                        }
                    }
                    span{
                        font-size: 13px; 
                        display: block;
                        margin: 0 !important;
                    }
                    .tfhb-details-action{
                        a{
                            color: $ui600;
                            text-decoration: none;
                        }
                        span{
                            color: $ui600;
                            cursor: pointer;
                        }
                    }
                    .tfhb-details-status{
                        .status{
                            border-radius: 16px;
                            background: $alert50;
                            padding: 2px 8px;
                            color: $alert600;
                            text-align: center;
                            font-size: 11px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 16px; /* 145.455% */
                            text-transform: capitalize;
                            &.approved{
                                background: $success50; 
                                color: $success600; 
                            }
                            &.canceled{
                                background: $warning50; 
                                color: $warning600; 
                            }
                            &.schedule{
                                background-color: $info50;
                                color: $info600;
                            }
                        }
                        .tfhb-status-bar{
                            cursor: pointer;
                            position: relative;
                            .tfhb-status-popup{
                                width: 140px; 
                                border-radius: 6px;
                                background: $ui50;
                                padding: 2px;
                                position: absolute;
                                right: 0;
                                visibility: hidden;
                                opacity: 0;
                                transition: all 0.3s ease-in-out;
                                z-index: 99;
                                ul{
                                    
                                    li{
                                        padding: 8px 12px; 
                                        border-radius: 4px; 
                                        background: $success50; 
                                        color: $success600;
                                        font-size: 15px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 24px; /* 160% */
                                        width: 100%;
                                        &.pending{
                                            background-color: $alert50;
                                            color: $alert600;
                                        }
                                        &.schedule{
                                            background-color: $info50;
                                            color: $info600;
                                        }
                                        &.canceled{
                                            background-color: $warning50;
                                            color: $warning600;
                                        }
                                    }
                                }
                            }
                            &:hover .tfhb-status-popup,
                            &:focus .tfhb-status-popup {
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Booking Details Quick View Design
.tfhb-attendee-info{
    border-bottom: 1px solid $ui50; 
    .tfhb-attendee-box{
        .tfhb-attendee-name{
            width: calc(33.333% - 16px);
            h4{
                color: $ui800 !important;
                font-size: 13px;
                font-style: normal;
                font-weight: 400 !important;
                line-height: 20px; /* 153.846% */
                margin: 0 0 12px 0 !important;
            }
            p{
                color: $ui600 !important;
                font-size: 15px !important;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 160% */
                margin: 0 !important;
                word-wrap: break-word;
            }
        }
    }
}