.tfhb-admin-dashboard {

  .tfhb-dashboard-wrap {
    margin-right: 16px;
    margin-top: 16px;


    .tfhb-chart-statistic-wrap{
      width: 100% !important; 
    }
    .tfhb-dashboard-chartbox {
      .tfhb-single-chartbox {
        // padding: 24px;
        width: calc(25% - 18px);

        .tfhb-single-chartbox-wrap {
          position: relative; 
          padding: 24px;
          border-radius: 16px;
          overflow: hidden;
          background: linear-gradient(180deg, rgba(252, 244, 223, 0.40) 0%, rgba(252, 156, 198, 0.40) 49.5%, rgba(214, 111, 238, 0.40) 100%), linear-gradient(100deg, #FCF4DF -15.15%, #FC9CC6 50.47%, #D66FEE 117.42%);
          min-height: 187px;

          &.gradient-2 {

            background: linear-gradient(180deg, rgba(242, 243, 226, 0.40) 0%, rgba(252, 156, 198, 0.40) 52.27%, rgba(178, 229, 248, 0.40) 100%), linear-gradient(100deg, #F2F3E2 -15.15%, #FC9CC6 50.96%, #B2E5F8 117.42%); 
          }

          &.gradient-3 {
            background: linear-gradient(180deg, rgba(215, 235, 235, 0.40) 0%, rgba(252, 156, 198, 0.40) 49.5%, rgba(157, 126, 243, 0.40) 100%), linear-gradient(100deg, #D7EBEB -15.15%, #FC9CC6 50.47%, #9D7EF3 117.42%); 

          }

          &.gradient-4 {
            background: linear-gradient(180deg, rgba(249, 205, 195, 0.40) 0%, rgba(252, 156, 198, 0.40) 49.5%, rgba(173, 253, 162, 0.40) 100%), linear-gradient(100deg, #F9CDC3 -15.15%, #FC9CC6 50.47%, #ADFDA2 117.42%); 


          }
           
        .tfhb-adminchartbox-shape {
          position: absolute;
          right: 0;
          bottom: 0;
          height: 80%;
          margin: 0 !important;
          display: inline-block;
          z-index: 1;
          text-align: right;
          img {
            max-height: 100%;
            margin-bottom: 0 !important;
          } 
        }
        .tfhb-single-cartbox-inner, .cartbox-meta {
          z-index: 1;
          position: relative;
        }

          .cartbox-title {
            display: inline-block;
            width: 100%;
            font-size: 15px !important;
            font-weight: 400 !important;
            line-height: 24px !important;
            margin: 0px !important;
          }

          .cartbox-value {
            font-size: 36px !important;
            font-weight: 600 !important;
            line-height: 43.2px !important;
            color: $ui600;
            margin: 16px 0 18px 0 !important;
            display: inline-block;

          }

          .cartbox-meta {
            justify-content: normal !important;

            .cartbox-badge {
              padding: 2px 8px 2px 6px;
              background-color: #ffffff80;
              border-radius: 16px;
              margin: 0px !important;
              svg{
                color: $success600 !important;
              }
              span {
                margin: 0 !important;
                font-weight: 600 !important;
                color: $success600 !important;
              }

              &.badge-down {
                span{

                  color: $warning600 !important;
                }
                svg{
                  color: $warning600 !important;
                }
              }
            }
          }

        }
      }
    }

    .tfhb-dashboard-notice-box {
      margin-top: 24px;
      align-items: normal !important;

      .tfhb-dashboard-notice-box-wrap {
        background-color: #ffffff;
        border-radius: 12px;
        padding: 24px;
        margin-top: 8px;
        h3{
          font-size: 17px !important;
          font-style: normal !important;
          font-weight: 400 !important;
          line-height: 150% !important; /* 25.5px */ 
        }
        .tfhb-dashboard-notice-single-box {
          &.tfhb-flexbox {
            >span {
              width: 60px;
            }

            >.tfhb-admin-card-box {
              width: calc(100% - 120px);
              border: 1px solid #F6EEF2 !important;
              background: #FAF5F7;
            }
          }

          .tfhb-admin-card-box {
            margin-bottom: 0px !important;
            border: 1px solid #F6EEF2 !important;
            background: #FAF5F7;
          }
        }
      }
    }

    .tfhb-dashboard-notice-box {
      .tfhb-dashboard-notice-box-inner {
        width: calc(50% - 12px);

        .tfhb-dashboard-notice-box-content { 
          max-height: 355px;
          overflow: auto;
        }

      }
    }

  }


}