.tfhb-admin-hosts {
  >.tfhb-dashboard-heading {
    margin-right: 16px !important;
  }
  .tfhb-popup {
    .tfhb-popup-wrap {
      max-width: 500px !important;
    }
    .tfhb-popup-wrap.tfhb-availability-popup-wrap{
      max-width: 980px !important;
    }
  }

  .tfhb-hosts-content {
    margin-top: 32px;
  }
  .tfhb-hosts-list-wrap {
    margin-left: 16px;
    justify-content: normal !important;
    .tfhb-single-hosts {
      width: calc(33.333% - 24px);
      @media #{$max1140}{
				width: calc(50% - 24px);
			}
      @media #{$max767}{
				width: calc(100% - 12px);
			}
      .tfhb-single-hosts-wrap {
        border-radius: 8px;
        background-color: #fff;
        padding: 24px;
        border: 1px solid $ui50;
        position: relative;
        hr {
          margin: 16px 0;
          border-top: 0.5px solid $ui50;
        }
        .tfhb-hosts-info {
          justify-content: normal !important;
          gap: 8px !important;
          .hosts-avatar{
            height: 32px;
            width: 32px;
            img {
              height: 100%;
              width: 100%;
              border-radius: 50%;
            }
          }
          
          .tfhb-info-icon-text {
            display: inline-block;
            width: 100%;
            justify-content: normal !important;
            font-size: 15px !important;
            gap: 16px !important;
            margin: 0 !important;
          }
        }

        .tfhb-hosts-status {
          position: absolute;
          right: 24px;
          top: 24px;
          padding: 2px 8px 2px 8px;
          border-radius: 16px;
          background-color: $success50;
          color: $success600;
          font-weight: 600 !important;
          font-size: 11px !important;
          &.tfhb-hosts-status-warning {
            background-color: $warning50;
            color: $warning600 !important;
          }
        }
        .tfhb-single-hosts-action {
          position: absolute !important;
          right: 24px;
          bottom: 24px;
        }
      }
    }
  }
  .tfhbb-host-profile-page {
    padding: 24px;
    background-color: #fff;
    border-radius: 8px;
    margin: 0 auto;
    width: 750px !important;
    @media #{$max991}{
      width: calc(100% - 16px) !important;
      margin-right: 16px !important;
    }
    .tfhb-dashboard-heading {
      margin-bottom: 24px !important;
      height: auto !important;
    }

    .tfhb-host-single-information{
      width: 100%;
    }
    .tfhb-image-box-content{
      h4{
        margin: 0 0 8px 0 !important;
      }
    }
    .tfhb-host-integrations{
      &:last-child{
        margin-bottom: 0 !important;
      }
    }
  }
}

.tfhb-availability-schedule-single  {
  // last child
  &:last-child {
    margin-bottom: 0;
  }
  .tfhb-availability-schedule-wrap{
    @media #{$max570}{
      width: 100%;
    }
    .tfhb-availability-schedule-inner{
      margin-bottom: 24px;
      // last child
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}