.tfhb-admin-meetings{
    .tfhb-filter-box{
        gap: 16px !important;
        .tfhb-filter-btn{
            border-radius: 8px;
            border: 1px solid #F6EEF2;
            background: #FFF;
            padding: 8px 24px;
            color: #765664;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            justify-content: normal !important;
            gap: 8px !important;
            cursor: pointer;
        }
        .tfhb-filter-btn.active{
            border: 1px solid #F6EEF2;
            background: #FEE6F0;
        }
    }
    .tfhb-filter-box-content{
        border-radius: 8px;
        border: 1px solid #F6EEF2;
        background: #FFF;
        box-shadow: 0px 8px 30px 0px rgba(40, 16, 26, 0.10);
        width: 350px;
        position: absolute;
        z-index: 99;
        .tfhb-filter-form{
            .tfhb-filter-category{
                border-bottom: 1px solid #F6EEF2; 
                padding-bottom: 24px;
                .tfhb-host-filter-box{
                    border-radius: 8px;
                    border: 1px solid #F6EEF2;
                    padding: 8px 8px 8px 12px;
                    height: 40px;
                    margin: 24px 24px 0 24px;
                    cursor: pointer;
                }
                .tfhb-filter-category-box{
                    border-radius: 8px;
                    background: #FFF;
                    box-shadow: 0px 15px 30px 0px rgba(40, 16, 26, 0.10);
                    padding: 16px;
                    margin: 2px 24px 0 24px;
                    ul{
                        gap: 16px !important;
                        li{
                            width: 100% !important;
                            label{
                                color: #765664 !important;
                                font-size: 15px !important;
                                font-style: normal;
                                font-weight: 400 !important;
                                line-height: 24px !important;
                                margin: 0 !important;
                            }
                            .tfhb-category-items{
                                border-radius: 16px;
                                background: #FAF5F7;
                                padding: 4px 8px;
                                color: #765664;
                                text-align: center;
                                font-size: 11px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 16px; /* 145.455% */
                            }
                        }
                    }
                }
            }
            .tfhb-filter-dates{
                gap: 8px !important;
                padding: 24px;
                border-bottom: 1px solid #F6EEF2; 
                .tfhb-filter-start-date,
                .tfhb-filter-end-date{
                    border-radius: 8px;
                    border: 1px solid #F6EEF2;
                    padding: 8px 8px 8px 12px; 
                    width: 133px;
                    box-sizing: border-box;
                    position: relative;
                    height: 40px;
                    z-index: 0;
                    svg{
                        position: absolute;
                        right: 8px;
                        top: 50%;
                        margin-top: -10px;
                        z-index: -1;
                    }
                    .tfhb-single-form-field{
                        width: 100% !important;
                        input{
                            min-width: auto !important;
                            width: 100%;
                            border: 0px solid;
                            margin: 0 !important;
                            min-height: auto;
                            height: 20px;
                            padding: 0px;
                        }
                        h4,p,label{
                            display: none;
                        }
                    }
                }
            }
            
        }
        .tfhb-reset-btn{
            margin: 24px;
            a{
                border-radius: 8px;
                border: 1px solid #F6EEF2;
                background: #FFF;
                padding: 8px 24px;
                justify-content: center !important;
                gap: 8px !important;
                color: #765664;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 160% */
            }
        }
    }

    .tfhb-meetings-list-content{
     .tfhb-meetings-list-wrap{
        justify-content: normal;
        .tfhb-single-meeting{
            width: calc(33.333% - 24px);
            border-radius: 8px;
            border: 1px solid #F6EEF2;
            background: #FFF;
            padding: 24px;
            box-sizing: border-box;
            .single-meeting-content-box{
                flex-wrap: nowrap !important;
                align-items: baseline !important;
                border-bottom: 0.5px solid #F6EEF2;
                padding-bottom: 24px;
                h3{
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400 !important;
                    line-height: 24px;
                    margin: 0 !important;
                    width: calc(100% - 20px) !important;
                }
                .meeting-user-info{
                    margin-top: 8px;
                    ul{
                        gap: 8px 32px !important;
                        li{
                            width: calc(50% - 16px);
                            .tfhb-flexbox{
                                gap: 8px !important;
                                justify-content: unset !important;
                                .user-info-title{
                                    color: #765664;
                                    font-size: 13px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 20px;
                                }
                            }
                            &.booked-items{
                                border-radius: 16px;
                                background: #FEE6F0;
                                padding: 4px 8px;
                                box-sizing: border-box;
                                width: 114px;
                                .user-info-icon{
                                    svg{
                                        color: #F62881;
                                    }
                                }
                                .user-info-title{
                                    color: #F62881;
                                    font-size: 11px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 16px; /* 145.455% */
                                }
                            }
                        }
                    }
                }
                .tfhb-dropdown{
                    width: 20px;
                }
            }
            .single-meeting-action-btn{
                margin-top: 24px;
                a{
                    border-radius: 8px;
                    border: 1px solid #F6EEF2;
                    background: #FFF;
                    padding: 6px 12px;
                    display: inline-block;
                    color: #765664;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; /* 153.846% */
                    gap: 8px !important;
                }
            }
        }
     }   
    }

    // Meeting Create
    .tfhb-meeting-create{
        border-radius: 16px;
        background: #FFF;
        padding: 32px; 
        width: 80%;
        margin: 0 auto;
        .tfhb-meeting-create-notice{
            .tfhb-meeting-heading{
                justify-content: normal !important;
                gap: 2px !important;
                h3{
                    font-size: 17px;
                    font-style: normal;
                    line-height: 150%; /* 25.5px */
                    margin: 0px !important;
                }
            }
            .tfhb-meeting-subtitle{
                color: #765664;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 153.846% */
                padding-left: 22px;
            }
        }
        .meeting-create-details{
            display: flex;
            flex-wrap: wrap;
            .tfhb-admin-card-box{
                width: 100%;
            }
            .tfhb-schedule-heading{
                h3{
                    margin: 0px !important;
                }
            }
            .tfhb-admin-card-box{
                display: flex;
                flex-wrap: wrap;
                .tfhb-availability-schedule-single,
                .tfhb-notification-single{
                    width: 100%;
                }
                .tfhb-add-new-question{
                    color: #F62881;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 160% */
                    cursor: pointer;
                }
            }
            .tfhb-question-box{
                width: 100%;
                .tfhb-flexbox{
                    flex-wrap: nowrap !important;
                    select{
                        padding: 0px 8px 0px 12px;
                        min-width: calc(100% - 88px);
                        margin-top: 4px;
                        border-radius: 4px;
                        height: 40px;
                        border: 1px solid #F6EEF2;
                        &:focus, &:active {
                            outline: none;
                            box-shadow: none; 
                        }
                    }
                    button{
                        border-radius: 4px;
                        border: 1px solid #F6EEF2;
                        background: #FFF;
                        height: 24px;
                        width: 24px;
                        padding: 4px; 
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
    .tfhb-question-popup{
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0px 8px 30px 0px rgba(40, 16, 26, 0.10);
        width: 400px;
        box-sizing: border-box;
        position: fixed;
        left: 50%;
        margin-left: -200px;
        top: 50%;
        margin-top: -180px;
        .question-header{
            .tfhb-question-times{
                cursor: pointer;
            }
        }
    }
}