.tfhb-admin-meetings{
    >.tfhb-dashboard-heading {
        margin-right: 16px !important;
      }
      .tfhb-availability-schedule-wrap{
        .tfhb-availability-schedule-inner{
            margin-bottom: 24px;
            // last child
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .tfhb-filter-box{
        gap: 16px !important;
        .tfhb-filter-btn{
            border-radius: 8px;
            border: 1px solid $ui50;
            background: #fff;
            padding: 8px 24px;
            color: $ui600;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            justify-content: normal !important;
            gap: 8px !important;
            cursor: pointer;
            height: 40px;
        }
        .tfhb-filter-btn.active{
            border: 1px solid $ui50;
            background: $primaryi50;
        }
    }
    .tfhb-filter-box-content{
        border-radius: 8px;
        border: 1px solid $ui50;
        background: #fff;
        box-shadow: 0px 8px 30px 0px rgba(40, 16, 26, 0.10);
        width: 350px;
        position: absolute;
        z-index: 99;
        .tfhb-filter-form{
            .tfhb-filter-category{
                border-bottom: 1px solid $ui50; 
                padding-bottom: 24px;
                .tfhb-host-filter-box{
                    border-radius: 8px;
                    border: 1px solid $ui50;
                    padding: 8px 8px 8px 12px;
                    height: 40px;
                    margin: 24px 24px 0 24px;
                    cursor: pointer;
                }
                .tfhb-filter-category-box{
                    border-radius: 8px;
                    background: #fff;
                    box-shadow: 0px 15px 30px 0px rgba(40, 16, 26, 0.10);
                    padding: 16px;
                    margin: 2px 24px 0 24px;
                    ul{
                        gap: 16px !important;
                        li{
                            width: 100% !important;
                            label{
                                color: $ui600 !important;
                                font-size: 15px !important;
                                font-style: normal;
                                font-weight: 400 !important;
                                line-height: 24px !important;
                                margin: 0 !important;
                                position: relative;
                                padding-left: 28px;
                                .checkmark {
                                    position: absolute;
                                    top: 2px;
                                    left: 0px;
                                    height: 20px;
                                    width: 20px;
                                    background-color: $ui50;
                                    border-radius: 5px;
                                    border: 1px solid $ui50;
                                    margin: 0 !important;
                                    &:after {
                                        content: "";
                                        position: absolute;
                                        left: 6px;
                                        top: 2px;
                                        width: 5px;
                                        height: 10px;
                                        border: solid $ui50;
                                        border-width: 0 3px 3px 0;
                                        -webkit-transform: rotate(45deg);
                                        -ms-transform: rotate(45deg);
                                        transform: rotate(45deg);
                                        display: none;
                                    }
                                }
                                input:checked~.checkmark {
                                    background-color: $primaryi;
                                    border: 1px solid $primaryi;
                                }
                                input:checked~.checkmark:after {
                                    display: block;
                                }
                            }
                            input[type="checkbox"]{
                                display: none;
                            }

                            .tfhb-category-items{
                                border-radius: 16px;
                                background: $ui25;
                                padding: 4px 8px;
                                color: $ui600;
                                text-align: center;
                                font-size: 11px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 16px; /* 145.455% */
                            }
                        }
                    }
                }
            }
            .tfhb-filter-dates{
                gap: 8px !important;
                padding: 24px;
                border-bottom: 1px solid $ui50; 
                .tfhb-filter-start-date,
                .tfhb-filter-end-date{
                    border-radius: 8px;
                    border: 1px solid $ui50;
                    padding: 8px 8px 8px 12px; 
                    width: 133px;
                    box-sizing: border-box;
                    position: relative;
                    height: 40px;
                    z-index: 0;
                    svg{
                        position: absolute;
                        right: 8px;
                        top: 50%;
                        margin-top: -10px;
                        z-index: -1;
                    }
                    .tfhb-single-form-field{
                        width: 100% !important;
                        input{
                            min-width: auto !important;
                            width: 100%;
                            border: 0px solid;
                            margin: 0 !important;
                            min-height: auto;
                            height: 20px;
                            padding: 0px;
                        }
                        h4,p,label{
                            display: none;
                        }
                    }
                }
            }
            
        }
        .tfhb-reset-btn{
            margin: 24px;
            a{
                border-radius: 8px;
                border: 1px solid $ui50;
                background: #fff;
                padding: 8px 24px;
                justify-content: center !important;
                gap: 8px !important;
                color: $ui600;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 160% */
            }
        }
    }

    .tfhb-meetings-list-content{
     .tfhb-meetings-list-wrap{
        justify-content: normal;
        .tfhb-single-meeting{
            width: calc(33.333% - 16px);
            border-radius: 8px;
            border: 1px solid $ui50;
            background: #fff;
            padding: 24px;
            box-sizing: border-box;
            @media #{$max1240}{
                width: calc(50% - 16px);
            }
            @media #{$max991}{
                width: 100%;
            }
            .single-meeting-content-box{
                flex-wrap: nowrap !important;
                align-items: baseline !important;
                border-bottom: 0.5px solid $ui50;
                padding-bottom: 24px;
                .single-meeting-content{
                    width: calc(100% - 20px);
                    h3{
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400 !important;
                        line-height: 24px;
                        margin: 0 !important;
                        width: calc(100% - 20px) !important;
                    }
                    .meeting-user-info{
                        margin-top: 16px;
                        ul{
                            gap: 8px 32px !important;
                            li{
                                width: calc(50% - 16px);
                                .tfhb-flexbox{
                                    gap: 8px !important;
                                    justify-content: unset !important;
                                    .user-info-icon{
                                        svg{
                                            margin-top: 3px;
                                        }
                                    }
                                    .user-info-title{
                                        color: $ui600;
                                        font-size: 13px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 20px;
                                    }
                                }
                                &.tfhb-booked-items{
                                    width: 100%;
                                    .booked-items{
                                        border-radius: 16px;
                                        background: $primaryi50;
                                        padding: 4px 8px;
                                        box-sizing: border-box;
                                        width: 114px;
                                        .user-info-icon{
                                            svg{
                                                color: $primaryi;
                                            }
                                        }
                                        .user-info-title{
                                            color: $primaryi;
                                            font-size: 11px;
                                            font-style: normal;
                                            font-weight: 400;
                                            line-height: 16px; /* 145.455% */
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .tfhb-dropdown{
                    width: 20px;
                }
            }
            .single-meeting-action-btn{
                margin-top: 24px;
                a{
                    border-radius: 8px;
                    border: 1px solid $ui50;
                    background: #fff;
                    padding: 6px 12px;
                    display: inline-block;
                    color: $ui600;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; /* 153.846% */
                    gap: 8px !important;
                    transition: .3s all ease;
                    &:hover{
                        background:$primaryi;
                        color: #ffffff;
                    }
                }
            }
        }
     }   
    }

    // Meeting Create
    .tfhb-meeting-create{
        border-radius: 16px;
        background: #fff;
        padding: 32px; 
        width: 980px;
        margin: 0 auto;
        @media #{$max1240}{
            width: calc(100% - 16px) !important;
            margin-right: 16px !important;
        }
        .tfhb-meeting-create-notice{
            .tfhb-meeting-heading{
                justify-content: normal !important;
                gap: 2px !important;
                .prev-navigator{
                    svg{
                        cursor: pointer;
                    }
                }
                h3{
                    font-size: 17px;
                    font-style: normal;
                    line-height: 150%; /* 25.5px */
                    margin: 0px !important;
                }
            }
            .tfhb-meeting-subtitle{
                color: $ui600;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 153.846% */
                padding-left: 22px;
            }
        }
        .meeting-create-details{
            display: flex;
            flex-wrap: wrap;
            .tfhb-schedule-heading{
                h3{
                    margin: 0px !important;
                }
            }
            .tfhb-admin-card-box{
                display: flex;
                flex-wrap: wrap;
                .tfhb-availability-schedule-single,
                .tfhb-notification-single{
                    width: 100%; 
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                .tfhb-add-new-question{
                    color: $primaryi;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 160% */
                    cursor: pointer;
                }
            }
         
        }
    }
    .tfhb-question-popup{
        border-radius: 8px;
        background: #fff;
        box-shadow: 0px 8px 30px 0px rgba(40, 16, 26, 0.10);
        width: 400px;
        box-sizing: border-box;
        position: fixed;
        left: 50%;
        margin-left: -200px;
        top: 50%;
        margin-top: -180px;
        z-index: 99;
        .question-header{
            .tfhb-question-times{
                cursor: pointer;
            }
        }
    }

    .tfhb-meeting-type-card{
        border-radius: 8px;
        border: 1px solid $ui50;
        background: #fff;
        transition: .3s all ease;
        cursor: pointer;
        &:hover{
            border: 1px solid $primaryi;
            background: $ui25;
        }
        .tfhb-meeting-type-content{
            width: calc(100% - 52px);
            h3{
                color: $ui600 !important;
                font-size: 17px;
                font-style: normal;
                line-height: 150%; /* 25.5px */ 
                margin: 0 !important;
            }
            p{
                color: $ui600;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 153.846% */
                margin: 10px 0 0 0 !important;
            }
        }
    }

    .tfhb-meeting-location{
        width: calc(100% - 32px);
    }
    .tfhb-meeting-location-removed{
        margin-top: 24px;
        cursor: pointer;
    }
    .tfhb-meeting-currency{
        input{
            width: calc(100% - 128px);
            min-width: auto !important;
            border-radius: 4px 0 0 4px !important;
        }
        select { 
            padding: 0px 8px 0px 12px;
            min-width: 126px;
            margin-top: 0;
            border-radius: 0 4px 4px 0 !important;
            height: 40px;
            border: 1px solid $ui50;
            border-left: 0px solid;
            &:focus, &:active {
                outline: none;
                box-shadow: none; 
            }
        }
    }

    // Meeting Range
    .tfhb-meeting-range{
        .tfhb-flexbox{
            @media #{$max767}{
                gap: 24px !important;
            }
        }
        .tfhb-single-meeting-range{
            width: calc(50% - 12px);
            @media #{$max767}{
                width: 100% !important;
            }
            .tfhb-range-checkbox{
                position: relative;
                width: 20px;
                height: 20px;
                input{
                    display: none;
                }
                .checkmark {
                    position: absolute;
                    height: 20px;
                    width: 20px;
                    background-color: $ui50;
                    border-radius: 50%;
                    border: 1px solid $ui50;
                    margin: 0 !important;
                    &:after {
                        content: "";
                        position: absolute;
                        left: 6px;
                        top: 2px;
                        width: 4px;
                        height: 8px;
                        border: solid $ui50;
                        border-width: 0 3px 3px 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                        display: none;
                    }
                }
                input:checked~.checkmark {
                    background-color: $primaryi;
                    border: 1px solid $primaryi;
                }
                input:checked~.checkmark:after {
                    display: block;
                }
            }
            label{
                h4{
                    font-size: 15px !important;
                    font-style: normal;
                    font-weight: 400 !important;
                    line-height: 24px; /* 160% */
                }
                p{
                    font-style: normal;
                }
            }
            .tfhb-availability-schedule-time{
                margin: 19px 0px 0px 35px;
            }
        }
    }
    .tfhb-meeting-durationinfo{
        ul.tfhb-locationtype{
            li{
                .tfhb-flexbox{
                    align-items: stretch !important;
                }
            }
        }

        .tfhb-share-type{
            display: flex;
            justify-content: center;
            ul{
                border-radius: 8px;
                border: 1px solid#F6EEF2;
                background: #FAF5F7;
                padding: 6px !important;
                width: fit-content;
                li{
                    color: #8F707D;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 160% */
                    padding: 8px 12px;
                    cursor: pointer;
                    &.active{
                        color: #F62881;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px; /* 160% */
                        border-radius: 4px;
                        background: #FEE6F0;
                        box-shadow: 0px 1px 3px 0px rgba(40, 16, 26, 0.10), 0px 1px 2px 0px rgba(40, 16, 26, 0.06);
                    }
                }
            }
        }
        .tfhb-shareing-data{
            input{
                border-radius: 4px;
                border: 1px solid #F6EEF2;  
                padding: 8px 8px 8px 12px; 
                color: #3F2731;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 160% */
                width: 100%;
                background: transparent;
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
            }
            .tfhb-copy-btn{
                display: flex;
                justify-content: right;
            }
        }
    }
}