.tfhb-admin-meetings{
    .tfhb-meetings-list-content{
     .tfhb-meetings-list-wrap{
        justify-content: normal;
        .tfhb-single-meeting{
            width: calc(33.333% - 24px);
            border-radius: 8px;
            border: 1px solid #F6EEF2;
            background: #FFF;
            padding: 24px;
            box-sizing: border-box;
            .single-meeting-content-box{
                flex-wrap: nowrap !important;
                align-items: baseline !important;
                border-bottom: 0.5px solid #F6EEF2;
                padding-bottom: 24px;
                h3{
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400 !important;
                    line-height: 24px;
                    margin: 0 !important;
                    width: calc(100% - 20px) !important;
                }
                .meeting-user-info{
                    margin-top: 8px;
                    ul{
                        gap: 8px 32px !important;
                        li{
                            width: calc(50% - 16px);
                            .tfhb-flexbox{
                                gap: 8px !important;
                                justify-content: unset !important;
                                .user-info-title{
                                    color: #765664;
                                    font-size: 13px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 20px;
                                }
                            }
                            &.booked-items{
                                border-radius: 16px;
                                background: #FEE6F0;
                                padding: 4px 8px;
                                box-sizing: border-box;
                                width: 114px;
                                .user-info-icon{
                                    svg{
                                        color: #F62881;
                                    }
                                }
                                .user-info-title{
                                    color: #F62881;
                                    font-size: 11px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 16px; /* 145.455% */
                                }
                            }
                        }
                    }
                }
                .tfhb-dropdown{
                    width: 20px;
                }
            }
            .single-meeting-action-btn{
                margin-top: 24px;
                a{
                    border-radius: 8px;
                    border: 1px solid #F6EEF2;
                    background: #FFF;
                    padding: 6px 12px;
                    display: inline-block;
                    color: #765664;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; /* 153.846% */
                    gap: 8px !important;
                }
            }
        }
     }   
    }
}