.tfhb-hydra-wrap { 
	width: 80%;
	padding: 0;
	margin: 0;
	background-color: #ffffff;
	border-radius: 16px;
	a{
		text-decoration: none;
	
	}  
 
	.tfhb-dashboard-heading {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 32px;
	}
	.tfhb-content-wrap{
		&.tfhb-flexbox{
			justify-content: normal;
		}
		

		.tfhb-availability-single-box{
			width: calc(50% - 12px);
			@media #{$max991}{
				width: 100% !important;
			}
			.tfhb-availability-single-box-wrap {
				border-radius: 8px;
				border: 1px solid $ui50;
				padding: 24px;
				.tfhb-dashboard-heading {
					margin-bottom: 16px;
					border-bottom: .5px solid $ui50;
					margin-right: 0 !important;
					.tfhb-admin-title{
						h3{
							font-size: 15px !important;
						font-weight: 400 !important;
						}
					}
				  }
			  }
			  .tfhb-availability-single-box-info{
				margin-bottom: 16px;
				// last child
				&:last-child {
					margin-bottom: 0;
				}
				&.tfhb-flexbox {

					justify-content: normal !important;
					gap: 16px !important; 
				}
				span {
					font-size: 15px !important; 
					line-height: 24px !important; 
					width: calc(100% - 36px);
				  }
				.fthb-availability-timeslots{
					p{ 
						display: inline-block; 
					}
				}
			  }
			
		}

		.tfhb-popup.tfhb-availability-popup{
			.tfhb-popup-wrap{
				max-width: 980px !important;
				@media #{$max991}{
					max-width: 100% !important;
				}
			}
		}

		.tfhb-integrations-wrap{
			width: 100% !important; 
			justify-content: normal !important;
			flex-wrap: nowrap !important;
			@media #{$max1240}{
				flex-wrap: wrap !important;
			}
			.tfhb-integrations-single-block{
				margin: 0 !important;
				width: calc(33% - 12px);
				@media #{$max1240}{
                    width: calc(50% - 12px);
                }
				h3 {
					font-weight: 600;
					line-height: 1.5;
				} 
				.tfhb-integrations-single-block-icon {
					margin-bottom: 16px !important;
					display: inline-block;
				} 
				.tfhb-integrations-single-block-btn {
					margin-top: 32px;
					svg{
						margin-top: 2px;
					}
				}
			} 
		}
		.tfhb-notification-wrap{
			.tfhb-notification-single {
				margin-bottom: 16px;
				// last child
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		
	}

	.tfhb-availability-popup{   
		.tfhb-availability-content-wrap{
			margin-top: 32px;
			.tfhb-availability-schedule-single  {
				margin-bottom: 24px;
				// last child
				&:last-child {
					margin-bottom: 0;
				}

				.tfhb-availability-schedule-wrap{
					@media #{$max570}{
						width: 100%;
					}
					.tfhb-availability-schedule-inner{
						margin-bottom: 24px;
						// last child
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		} 
		.tfhb-availability-schedule-btn {
			border: none;
			background-color: transparent; 
		}
		.tfhb-hydra-dasboard-content{ 
			position: relative;
			.tfhb-availability-content-wrap{
				margin-top: 32px;
				.tfhb-availability-schedule-single{
					justify-content: normal !important;
					input, label, span {
						margin-top: 0 !important;
					}
					.tfhb-availability-schedule-clone-btn {
						border: none;
						background-color: transparent; 
					}
				}
			}
		}
		

	}
	.tfhb-hydra-admin-tabs {
		padding: 32px 16px 32px 16px;
		border-right: 1px solid $ui50;
		ul {
			display: flex;

			li { 
				a {
					padding: 12px 16px 12px 16px;
					border-radius: 6px;
					width: 100%;
					display: flex;
					gap: 13px;
					align-items: center; 
					font-weight: 400;
					font-size: 15px;
					font-family: inter;
					color: $ui600;
					&.active {
						background-color: $primaryi50;
						color: $primaryi;
					}
					&:focus {
						outline: none;
						box-shadow: none;
					}
				}
			}
		}
	}

	.tfhb-category-warp{
		.tfhb-category-create-box{
			width: 45%;
		}
		.tfhb-category-list{
			width: calc(55% - 24px);
			table{
				width: 100%;
				border-radius: 8px;
				background: $ui50;
				thead{
					border-bottom: 1px solid $ui50;
					th{
						padding: 12px 16px;
						color: $ui600;
						font-size: 15px;
						font-style: normal;
						font-weight: 400;
						line-height: 24px; /* 160% */
						text-align: left;
					}
				}
				tbody{
					border-left: 1px solid $ui50;
					tr{
						background-color: #fff;
						td{
							padding: 16px;
							color: $ui600;
							font-size: 15px;
							font-style: normal;
							font-weight: 400;
							line-height: 24px;
							border: 0px solid;
							border-bottom: 1px solid $ui50;
						}
					}
				}
			}
		}

		.tfhb-booking-details-pagination .tfhb-prev-next-button{
			background-color: #f6eef2;
		}
		.tfhb-booking-details-pagination .tfhb-pagination ul li.active{
			background-color: #f6eef2;
		}
	}
 
}


 