.tfhb-btn {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #F62881;
    transition: 0.4s;
    height: 40px;
    box-sizing: border-box;
    &.boxed-btn {
        padding: 8px 24px; 
        border-radius: 8px; 
        background-color: #F62881;
        color: #FFFFFF;
        border: 1px solid #F62881;
        cursor: pointer;
        &:hover, &:focus, &:active {
            background-color: #C40859;
            color: #FFFFFF;
        }
    }
    &.boxed-secondary-btn {
        padding: 8px 12px; 
        border-radius: 4px;
        background: #FFF;
        box-shadow: 0px 1px 3px 0px rgba(40, 16, 26, 0.10), 0px 1px 2px 0px rgba(40, 16, 26, 0.06);
        border: 0px solid;
        cursor: pointer;
        color: #765664;
        &:hover, &:focus, &.active {
            background: #FEE6F0;
            color: #F62881;
            box-shadow: 0px 1px 3px 0px rgba(40, 16, 26, 0.10), 0px 1px 2px 0px rgba(40, 16, 26, 0.06);
        }
    }
    &.secondary-btn{
        padding: 8px 24px; 
        border-radius: 8px; 
        border: 1px solid #F6EEF2;
        background: #FFF;
        color: #765664;
        font-style: normal;
        font-weight: 400;
    }
    &.flex-btn{
        display: flex;
        gap: 5px;
        align-items: center;
    }
    &.tfhb-edit{
        background-color: transparent;
        color: #765664;
        border: 0px solid;
        cursor: pointer;
    }
    &:hover, &:focus, &:active {
        color: #C40859;
    }
  }
  