.tfhb-btn {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: $primaryi;
    transition: 0.4s;
    height: 40px;
    box-sizing: border-box;
    background-color: transparent;
    border: none ;
    &.boxed-btn {
        padding: 8px 24px; 
        border-radius: 8px; 
        background-color: $primaryi;
        color: #ffffff;
        border: 1px solid $primaryi;
        cursor: pointer;
        &:hover, &:focus, &:active {
            background-color: $primaryi600;
            color: #ffffff;
        }
    }
    &.boxed-secondary-btn {
        padding: 8px 12px; 
        border-radius: 4px;
        background: #fff;
        box-shadow: 0px 1px 3px 0px rgba(40, 16, 26, 0.10), 0px 1px 2px 0px rgba(40, 16, 26, 0.06);
        border: 0px solid;
        cursor: pointer;
        color: $ui600;
        &:hover, &:focus, &.active {
            background: $primaryi50;
            color: $primaryi;
            box-shadow: 0px 1px 3px 0px rgba(40, 16, 26, 0.10), 0px 1px 2px 0px rgba(40, 16, 26, 0.06);
        }
    }
    &.secondary-btn{
        padding: 8px 24px; 
        border-radius: 8px; 
        border: 1px solid $ui50;
        background: #fff;
        color: $ui600;
        font-style: normal;
        font-weight: 400;
    }
    &.flex-btn{
        display: flex;
        gap: 5px;
        align-items: center;
    }
    &.tfhb-edit{
        background-color: transparent;
        color: $ui600;
        border: 0px solid;
        cursor: pointer;
    }
    &:hover, &:focus, &:active {
        color: $primaryi600;
    }
    &.tfhb-preloader {
        position: relative;
        
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
            border: 2px solid $primaryi;
            border-top-color: transparent;
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }
        @keyframes spin {
            0% {
                transform: translate(-50%, -50%) rotate(0deg);
            }
            100% {
                transform: translate(-50%, -50%) rotate(360deg);
            }
        }
        &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: rgba(255, 255, 255, 0.5); 

        }
    }
     
  }
  