.tfhb-single-form-field{

    
    .tfhb-single-form-field-wrap{
        width: 100%;
        // Select Field
        &.tfhb-field-select{ 
            select { 
                padding: 0px 8px 0px 12px;
                min-width: 100%;
                margin-top: 4px;
                border-radius: 4px;
                height: 40px;
                border: 1px solid $ui50;
                font-family: "Inter", sans-serif;
                &:focus, &:active {
                    outline: none;
                    box-shadow: none; 
                }
            }
        }
        // Dropdown Field
        &.tfhb-field-dropdown{ 
            .p-dropdown { 
                border: 1px solid $ui50 !important; 
                box-shadow: none !important;
              } 
              span{
                margin: 0 !important;
              }
        }
     
        &.tfhb-field-input, &.tfhb-field-date, &.tfhb-field-options{ 
            input { 
                padding: 8px 8px 8px 12px;
                min-width: 100%;
                margin-top: 4px;
                border-radius: 4px;
                border: 1px solid $ui50;
                background-color: transparent;
                line-height: 20px;
                height: 40px;
                margin: 0;
                box-shadow: none;
                color: $ui500 !important;
                font-family: "Inter", sans-serif;
                &:focus, &:active {
                    outline: none;
                    box-shadow: none; 
                }
            }
        }
        &.tfhb-field-options{
            .tfhb-options-fields{
                margin-bottom: 10px;
            }
            input { 
                min-width: 80% !important;
            }
        }
        &.tfhb-field-date{
            position: relative !important;
            .tfhb-flat-icon {
                position: absolute;
                right: 8px;
                top: 5px;
            }
            .flatpickr-input{
                max-width: 100%;
            }
        }
        &.tfhb-field-textarea{
            textarea{
                height: 96px;
                border-radius: 4px;
                border: 1px solid $ui50;
                color: $ui500;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 160% */
                padding: 8px 8px 8px 12px;
                width: 100%;
                font-family: "Inter", sans-serif;
            }
        } 
        &.tfhb-field-checkbox, &.tfhb-field-radio{
            input[type="checkbox"], input[type="radio"] {
                display: none;
            }
            .checkmark {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 20px;
                width: 20px;
                background-color: $ui50;
                border-radius: 5px;
                border: 1px solid $ui50;
                margin: 0 !important;
                &:after {
                    content: "";
                    position: absolute;
                    left: 6px;
                    top: 2px;
                    width: 4px;
                    height: 8px;
                    border: solid $ui50;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                    display: none;
                }
            }
            label{
                color: $ui800 !important;
                font-size: 15px !important;
                font-style: normal;
                font-weight: 400;
                line-height: 24px !important;
                margin: 0 !important;
                position: relative;
                padding-left: 38px;
                margin-right: 16px !important;
                input:checked~.checkmark {
                    background-color: $primaryi;
                    border: 1px solid $primaryi;
                }
                input:checked~.checkmark:after {
                    display: block;
                }
            }
        }
        &.tfhb-field-radio{
            .checkmark {
                border-radius: 50%;
            }
            
             
        }
        .tfhb-swicher-wrap{
            gap: 8px !important;
            justify-content: normal !important;
            label{
                color: $ui800;
                font-size: 15px !important;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 160% */
            }
        }
    }
}

.tfhb-single-form-field-wrap{
    justify-content: normal !important;
    .tfhb-field-image{
        position: relative;
        border-radius: 50%;
        height: 72px;
        width: 72px;
        overflow: hidden;
        &:hover{
            .tfhb-image-btn{
                opacity: 1;
                visibility: visible;
                bottom: 0;
            }
        }
        input {
            display: none;
        }
        img{
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }
        .tfhb-image-btn {
            background-color: #00000057;
            border: none;
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 100%;
            padding: 8px;
            cursor: pointer;
            color: #fff;
            font-weight: 400;
            opacity: 0;
            transition: all 0.3s;
            visibility: hidden;
            
        }

    }
}