.tfhb-single-form-field{

    
    .tfhb-single-form-field-wrap{
        width: 100%;
        // Select Field
        &.tfhb-field-select{ 
            select { 
                padding: 0px 8px 0px 12px;
                min-width: 100%;
                margin-top: 4px;
                border-radius: 4px;
                height: 40px;
                border: 1px solid $ui50;
                font-family: "Inter", sans-serif;
                &:focus, &:active {
                    outline: none;
                    box-shadow: none; 
                }
            }
        }
        // Dropdown Field
        &.tfhb-field-dropdown{ 
            .p-dropdown .p-dropdown-trigger {
                color: #8F707D !important;
            }
            .p-dropdown { 
                border: 1px solid $ui50 !important; 
                box-shadow: none !important;
                &.tfhb-required{
                    border: 1px solid red !important;
                }

                 
                // &:focus, &:active, &:not(.p-disabled):hover {
                //     outline: none;
                //     box-shadow: none; 
                    
                // }
            } 
            .p-dropdown:not(.p-disabled):hover,  .p-dropdown:not(.p-disabled).p-focus {
                border-color: $ui900 !important;
            }
            span{
            margin: 0 !important;
            }
        }
     
        &.tfhb-field-input, &.tfhb-field-date, &.tfhb-field-options{ 
            input { 
                padding: 8px 8px 8px 12px;
                min-width: 100%;
                margin-top: 4px;
                border-radius: 4px;
                border: 1px solid $ui50;
                background-color: transparent;
                line-height: 20px;
                height: 40px;
                margin: 0;
                box-shadow: none;
                color: $ui500 !important;
                font-family: "Inter", sans-serif;
                &:focus, &:active {
                    outline: none;
                    box-shadow: none; 
                    border-color: $ui900;
                }
            }
        }
        &.tfhb-field-options{
            .tfhb-options-fields{
                margin-bottom: 10px;
            }
            input { 
                min-width: 80% !important;
            }
        }
        &.tfhb-field-date{
            position: relative !important;
            .tfhb-flat-icon {
                position: absolute;
                right: 8px;
                top: 5px;
            }
            .flatpickr-input{
                max-width: 100%;
            }
        }
        &.tfhb-field-textarea{
            textarea{
                height: 96px;
                border-radius: 4px;
                border: 1px solid $ui50;
                color: $ui500;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 160% */
                padding: 8px 8px 8px 12px;
                width: 100%;
                font-family: "Inter", sans-serif;
            }
        } 
        &.tfhb-field-checkbox, &.tfhb-field-radio{
            input[type="checkbox"], input[type="radio"] {
                display: none;
            }
            .checkmark {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 20px;
                width: 20px;
                background-color: $ui50;
                border-radius: 3px;
                border: 1px solid $ui50;
                margin: 0 !important;
                &:after {
                    content: "";
                    position: absolute;
                    left: 6px;
                    top: 2px;
                    width: 4px;
                    height: 8px;
                    border: solid $ui50;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                    display: none;
                }
            }
            
            label{
                color: $ui800 !important;
                font-size: 15px !important;
                font-style: normal;
                font-weight: 400;
                // line-height: 24px !important;
                margin: 0 !important;
                position: relative;
                padding-left: 28px;
                margin-right: 16px !important;
                input:checked~.checkmark {
                    background-color: $primaryi;
                    border: 1px solid $primaryi;
                }
                input:checked~.checkmark:after {
                    display: block;
                }
            }
        }
        &.tfhb-field-radio{
            .checkmark {
                border-radius: 50%;
            }
            
             
        }
        .tfhb-swicher-wrap{
            gap: 8px !important;
            justify-content: normal !important;
            label{
                color: $ui800;
                font-size: 15px !important;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 160% */
            }
        }
    }
}

.tfhb-single-form-field-wrap{
    justify-content: normal !important;
    .tfhb-field-image{
        position: relative;
        border-radius: 50%;
        height: 72px;
        width: 72px;
        overflow: hidden;
        border: 1px solid #ddd !important;
        &:hover{
            .tfhb-image-btn{
                opacity: 1;
                visibility: visible;
                bottom: 0;
            }
        }
        input {
            display: none;
        }
        img{
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }
        .tfhb-image-btn {
            background-color: #00000057;
            border: none;
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 100%;
            padding: 8px;
            cursor: pointer;
            color: #fff;
            font-weight: 400;
            opacity: 0;
            transition: all 0.3s;
            visibility: hidden;
            
        }

    }
}

.tfhb-imageselect-box{
    width: 100%;
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        flex-wrap: nowrap !important;
        li{
            width: calc(33% - 12px);
            input[type="radio"]{
                display: none;
            }

            label {
                display: block;
                position: relative;
                margin: 0px;
                cursor: pointer;
                .image-box{
                    height: 150px;
                    border-radius: 8px;
                    background: #765664;
                }
                h3{
                    color: #3F2731 !important;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 400 !important;
                    line-height: 20px; /* 153.846% */
                    margin: 8px 0 0 0 !important;
                    text-align: center;
                }
            }

            :checked + label .image-box {
                border-bottom: 4px solid #F62881; 
            }
        }
    }
}

.tfhb-single-colorbox{
    border-radius: 6px;
    background: #FAF5F7;
    padding: 12px 16px; 
    label{
        color: #765664 !important;
        font-size: 15px !important;
        font-style: normal;
        font-weight: 400 !important;
        line-height: 24px !important; /* 160% */
        margin: 0 !important;
    }
    .color-select{
        background-color: #fff;
        border-radius: 6px;
        .lv-colorpicker__colorblock-wrap{
            height: 36px;
            width: 36px;
            border-radius: 6px 0 0 6px !important;
            display: block;
        }
        span{
            color: #765664;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 153.846% */
            padding: 6px 8px;
        }
    }
}

.tfhb-startendtime{
    .tfhb-times-field{
        padding: 8px 8px 8px 12px;
        min-width: 100%;
        margin-top: 4px;
        border-radius: 4px;
        border: 1px solid #F6EEF2;
        background-color: transparent;
        line-height: 20px;
        height: 40px;
        margin: 0;
        box-shadow: none;
        font-family: "Inter", sans-serif;
        display: flex;
        cursor: pointer;
        input{
            border: 0px solid !important;
            color: #8F707D !important;
            padding: 0;
            min-height: auto;
            background-color: transparent !important;
            cursor: pointer;
            &:focus{
                outline: none;
                box-shadow: none;
            }
        }
        .tfhb-flat-icon{
            margin: 0 !important;
        }
    }
    ul{
        li{
            border-radius: 8px;
            color: #8F707D;
            font-weight: 500;
            display: block;
            text-align: center;
            line-height: 24px;
            margin: 0;
            padding: 4px 16px;
            text-align: left;
            cursor: pointer;
            &:hover{
                background: #f5f6f7;
                font-weight: 500;
            }
        }
    }
}