#tfhb-admin-app {

    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    label {
        font-family: 'Inter', sans-serif;
        margin: 0;
    }

    button {
        cursor: pointer;
    }

    a {
        text-decoration: none;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
        color: #3F2731;
        margin: 4px 0;
    }

    p,
    span,
    label {
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #765664;
        margin: 4px 0;
    }

    label {
        color: #3F2731;
    }

    h1 {
        font-size: 24px;
        line-height: 32px;
    }
    ul{
        margin: 0;
        padding: 0;
    }
    ul li{
        margin: 0;
    }
    .tfhb-mb-32{
        margin-bottom: 32px !important;
    }
    .tfhb-mt-32{
        margin-top: 32px !important;
    }
    .tfhb-mb-24{
        margin-bottom: 24px !important;
    }
    .tfhb-mb-16{
        margin-bottom: 16px !important;
    }
    
    .tfhb-m-0{
        margin: 0 !important;
    }

    //Padding
    .tfhb-p-24{
        padding: 24px !important;
    }
    .tfhb-pt-0{
        padding-top: 0px !important;
    }
    .tfhb-pb-0{
        padding-bottom: 0px !important;
    }
    
    //no-wrap
    .tfhb-no-flexbox{
        display: flow-root !important;
    }
    //Gap
    .tfhb-gap-32{
        gap: 32px !important;
    }
    .tfhb-gap-24{
        gap: 24px !important;
    }
    .tfhb-gap-16{
        gap: 16px !important;
    }
    .tfhb-gap-8{
        gap: 8px !important;
    }
    .tfhb-gap-4{
        gap: 4px !important;
    }
    .tfhb-gap-2{
        gap: 2px !important;
    }
    .tfhb-gap-0{
        gap: 0px !important;
    }

    .tfhb-border-none{
        border: 0px solid;
    }
    .tfhb-full-width{
        width: 100% !important;
    }
    .tfhb-flexbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 24px;
        box-sizing: border-box;
    }
    .tfhb-justify-normal{
        justify-content: normal !important;
    }
    .tfhb-align-baseline{
        align-items: baseline !important;
    }
    .tfhb-flexbox-nowrap{
        flex-wrap: nowrap !important;
    }
    .tfhb-cursor-pointer{
        cursor: pointer !important;
    }
	.tfhb-admin-card-box {
        padding: 24px;
        border-radius: 8px;
        border: 1px solid #F6EEF2;
        margin-bottom: 32px;
    }
    .tfhb-booking-tabs {
        background: #faf5f7;
        border: 1px solid #f6eef2;
        border-radius: 8px;
        padding: 6px;
        margin-bottom: 24px;
        ul {
          margin: 0 !important;
          li {
            display: inline-block;
            margin: 0;
            padding: 0;
            a {
              display: flex;
              padding: 8px 12px 8px 12px;
              font-size: 15px;
              align-items: center;
              gap: 8px;
              border-radius: 4px;
              color: #8f707d;
              font-weight: 400;
              &.active {
                background-color: #fee6f0;
                box-shadow: 0px 1px 2px 0px #28101a0f;
                box-shadow: 0px 1px 3px 0px #28101a1a;
                color: #f62881;
              }
            }
          }
        }
      }

    .tfhb-dropdown {
        position: relative;
        cursor: pointer;
        
        &.active{
            .tfhb-dropdown-wrap{
                visibility: visible !important;
                opacity: 1 !important;
            
            }
        }
        &.tfhb-mega-dropdown{
            .tfhb-dropdown-wrap{ 
                width: 400px !important;
            }
            .tfhb-mega-dropdown-heading {
                padding: 8px 24px 8px 24px;
                background-color: #fff;
                border-radius: 8px;
                border: 1px solid #F6EEF2;
                font-size: 15px !important;
              }
              .tfhb-calender-move-icon {
                margin-top: 20px;
            }
        }
       
        .tfhb-dropdown-wrap {
            position: absolute;
            top: 100%;
            right:  0;
            width: 120px;
            box-shadow: 0px 15px 30px 0px #28101A1A;
            background-color: #FAF5F7;
            padding: 2px;
            border-radius: 6px;
            display: flex;
            flex-direction: column;
            gap: 2px;
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            z-index: 99;
            
            &.active{
                visibility: visible !important;
                opacity: 1 !important;
            }
            .tfhb-dropdown-single {
                display: block; 
                padding: 8px 12px 8px 12px;
                border-radius: 4px 0px 0px 0px; 
                background-color: #fff;
                margin: 0 !important;
                &:hover {
                    background-color: #FAF5F7;
                }
                .tfhb-filter-dates{

                    justify-content: normal !important;
                    .tfhb-filter-start-date, .tfhb-filter-end-date{
                        width: 45% !important;
                    }
                }
            }

        }

        

        &:hover .tfhb-dropdown-wrap {
            visibility: visible;
            opacity: 1;
        }
    }
    .tfhb-swicher-wrap{
        .switch {
            position: relative;
            display: inline-block;
            width: 32px;
            height: 20px; 
            margin: 0;
            input {
                opacity: 0;
                width: 0;
                height: 0;
            }
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #E3CFD7;
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 10px;
                margin: 0 !important;
                &:before {
                    position: absolute;
                    content: "";
                    height: 14px;
                    width: 14px;
                    left: 4px;
                    bottom: 3px;
                    background-color: #FFFFFF;
                    -webkit-transition: .4s;
                    transition: .4s;
                    border-radius: 50%;
                }
                
            }
            input:checked + .slider {
                background-color: #F62881;
            }
            input:focus + .slider {
                box-shadow: none;
            }
            input:checked + .slider:before {
                -webkit-transform: translateX(10px);
                -ms-transform: translateX(10px);
                transform: translateX(10px);
            }
            .slider.round {
                border-radius: 34px;
            }
            
    
            
        } 
        /* Rounded sliders */
        
        
        .slider.round:before {
            border-radius: 50%;
        }
        .tfhb-schedule-swicher{
            margin-left: 10px !important; 
            margin: 0 !important;
        }
    }

    .tfhb-dashboard-heading {  
        // height: 60px;  
        border-radius: 4px; 
        margin-right: 16px;
        h2 {
            font-size: 24px;
            font-weight: 600;
            color: #000;
            text-decoration: none;
            outline: none;
            box-shadow: none;
            margin-left: 5px;
        }
        .tfhb-action-filter-button{
            .tfhb-single-form-field{
                width: 120px !important;
                .tfhb-single-form-field-wrap{
                    select{
                        margin: 0px !important;
                        border-radius: 8px;
                        border: 1px solid #F6EEF2;
                    }
                }
            }
        }
    }
    
     
    .tfhb-hydra-dasboard {
    
        width: 100%;
    
        .tfhb-hydra-wrap {
            display: flex;
            // gap: 16px;
        }
    
        .tfhb-hydra-settings {
    
            width: 272px;
    
            ul {
                display: inline-block;
            }
        }
    
        .tfhb-hydra-dasboard-content {
            width: calc(100% - 272px);
            padding: 24px;
        }
    
        .tfhb-hydra-wrap {
            width: auto;
            margin-right: 10px;
        }
    }
    
    .tfhb-popup{  
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #ffffff63;
		z-index: 99;
		.tfhb-availability-content-wrap{
			margin-top: 32px;
		}
		
		.tfhb-popup-wrap {
			max-width: 800px;
			padding: 24px;
			background-color: #FFFFFF;
			box-shadow: 0px 8px 30px 0px rgba(40, 16, 26, 0.1019607843); 
			overflow: auto;
			margin: 50px auto; 
			max-height: 75%;  
			border-radius: 8px;
            
            .tfhb-dashboard-heading {
                .tfhb-admin-title{
                    margin-bottom: 0 !important;
                }
                margin-bottom: 24px !important;
            }
            .tfhb-popup-close {
                border: none;
                background-color: transparent; 
            }
		}
    }

    .tfhb-header-filters {
        width: 400px;
        position: relative;
        input {
          padding: 8px 32px 8px 12px;
          border: 1px solid #f6eef2;
          background-color: #ffffff;
          border-radius: 8px;
          width: 100%;
          height: 40px;
          box-sizing: border-box;
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
        span {
          position: absolute;
          position: absolute;
          right: 10px;
          top: 9px;
          margin: 0 !important;
          color: #765664 !important;
        }
      }

    
 
    .tfhb-header-notification {
        .tfhb-dropdown-wrap {
            padding: 24px !important;
            border-radius: 8px !important;
            background-color: #fff !important;
            .tfhb-notification-wrap {
                margin-top: 16px;

                .tfhb-single-notification {
                    align-items: normal !important;
                    padding: 16px;
                    border: 1px solid #F6EEF2;
                    margin-bottom: 16px;
                    border-radius: 12px;
                    transition: 0.5s;
                    &:hover {
                        background: #FAF5F7;
                        border-color: #F6EEF2;
                    }
                    .tfhb-single-notification-img {
                        width: 32px;
                        height: 32px;
                        img {
                            border-radius: 50%;
                        }
                    }

                    .tfhb-single-notification-content {
                        width: calc(100% - 75px);
                    }
                }
            }
        }
        
    }
     
}

.tfhb-availability-schedule-btn {
    border: none;
    background-color: transparent; 
}
.tfhb-notification-button-tabs{
    justify-content: normal !important;
}
.tfhb-question-popup{
    .question-header{
        h3{
            margin: 0 !important;
        }
    }
}
.tfhb-counter-box{
    .tfhb-single-form-field{
        .tfhb-counter-wrap{
            margin-top: 4px;
            .tfhb-counter{
                border-radius: 4px 0px 0px 4px;
                border-top: 1px solid #F6EEF2;
                border-bottom: 1px solid #F6EEF2;
                border-left: 1px solid #F6EEF2;
                background: #FAF5F7;
                height: 40px;
                width: calc(100% - 174px);
                padding: 8px 12px;
                .tfhb-inc,
                .tfhb-dec{
                    cursor: pointer;
                }
            }
            select { 
                padding: 0px 8px 0px 12px !important;
                min-width: 172px !important;
                margin-top: 0 !important;
                border-radius: 0px 4px 4px 0px !important; 
                height: 40px !important;
                border: 1px solid #F6EEF2 !important;
                border-left: 0px solid !important;
                &:focus, &:active {
                    outline: none;
                    box-shadow: none; 
                }
            }
            .tfhb-availability-schedule-clone-single{
                margin-left: 16px;
            }
        }
    }
}

.tfhb-integrations-wrap{
    width: 100% !important; 
    justify-content: normal !important;
    .tfhb-integrations-single-block{
        margin: 0;
        width: calc(30% - 48px);
        display: flow-root !important;
        h3 {
            font-weight: 600;
            line-height: 1.5;
        } 
        .tfhb-integrations-single-block-icon {
            margin-bottom: 16px !important;
            display: inline-block;
        } 
        .tfhb-integrations-single-block-btn {
            margin-top: 32px;
        }
    } 
}