#tfhb-admin-app{
    a, h1, h2, h3, h4, h5, h6, p, span, label {
        font-family: 'Inter', sans-serif;
        margin: 0;
    }
    button{
        cursor: pointer;
    }
    a{
        text-decoration: none;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    h1, h2, h3, h4, h5, h6{
        font-weight: 600; 
        color: #3F2731;
        margin: 4px 0;
    }
    p, span, label { 
        font-weight: 400; 
        font-size: 13px;
        line-height: 20px;
        color: #765664;
        margin: 4px 0;
    }
    label {  
        color: #3F2731; 
    }
     h1 {
        font-size: 24px; 
        line-height: 32px; 
    }
    .tfhb-flexbox{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap; 
        gap: 24px;
    }
    
}