// Color Variables
// UI Colors
$ui0 : #ffffff;
$ui25 : #FAF5F7;
$ui50 : #F6EEF2;
$ui100 : #EDDFE5;
$ui150 : #E3CFD7;
$ui200 : #D8C0CA;
$ui300 : #C2A4B1;
$ui400 : #A98997;
$ui500 : #8F707D;
$ui600 : #765664;
$ui700 : #5C3D4A;
$ui750 : #4E323E;
$ui800 : #3F2731;
$ui850 : #301C25;
$ui900 : #211319;
$ui1000 : #000000;

// Primary
$primaryi : #F62881; 
$primaryi25 : #FFF5F9; 
$primaryi50 : #FEE6F0;
$primaryi100 : #FECDE2;
$primaryi200 : #FC9CC5;
$primaryi300 : #FB6AA9;
$primaryi400 : #FA388C;
$primaryi500 : #F62881;
$primaryi600 : #C40859;
$primaryi700 : #900943;
$primaryi800 : #5E082D;
$primaryi900 : #2E0517;
$primaryi950 : #17030C;

// Info 
$info50 : #EBEFFF;
$info100 : #D6E0FF;
$info200 : #A8BDFF;
$info300 : #809DFF;
$info400 : #527AFF;
$info500 : #295BFF;
$info600 : #0037EB;
$info700 : #002AB3;
$info800 : #001B75;
$info900 : #000E3D;
$info950 : #00071F;

// Alert
$alert50 : #FFF8E5;
$alert100 : #FFF3D1;
$alert200 : #FFE59E;
$alert300 : #FFD970;
$alert400 : #FFCB3D;
$alert500 : #FFBF0F;
$alert600 : #D69D00;
$alert700 : #A37800;
$alert800 : #6B4F00;
$alert900 : #382900;
$alert950 : #1A1300;


// Success
$success50 : #E6FAEE;
$success100 : #D0F5E1;
$success200 : #A2ECC2;
$success300 : #73E2A4;
$success400 : #45D985;
$success500 : #27BE69;
$success600 : #21A159;
$success700 : #17723F;
$success800 : #12542F;
$success900 : #082615;
$success950 : #031109;

// Warning
$warning50 : #FEECEE;
$warning100 : #FCD9DE;
$warning200 : #FAB3BD;
$warning300 : #F78C9C;
$warning400 : #F5667A;
$warning500 : #F2415A;
$warning600 : #E5102E;
$warning700 : #AC0C22;
$warning800 : #730817;
$warning900 : #39040B;
$warning950 : #1D0206;



// Responsive Veriable
$max1240: "only screen and (max-width: 1240px)";
$max1140: "only screen and (max-width: 1140px)";
$max991: "only screen and (max-width: 991px)";
$max767: "only screen and (max-width: 767px)";