// Color Variables
// UI Colors
$ui0 : #ffffff;
$ui25 : #FAF5F7;
$ui50 : #F6EEF2;
$ui100 : #EDDFE5;
$ui150 : #E3CFD7;
$ui200 : #D8C0CA;
$ui300 : #C2A4B1;
$ui400 : #A98997;
$ui500 : #8F707D;
$ui600 : #765664;
$ui700 : #5C3D4A;
$ui750 : #4E323E;
$ui800 : #3F2731;
$ui850 : #301C25;
$ui900 : #211319;
$ui1000 : #000000;

// Primary
$primaryi : #F62881; 
$primaryi25 : #FFF5F9; 
$primaryi50 : #FEE6F0;
$primaryi100 : #FECDE2;
$primaryi200 : #FC9CC5;
$primaryi300 : #FB6AA9;
$primaryi400 : #FA388C;
$primaryi500 : #F62881;
$primaryi600 : #C40859;
$primaryi700 : #900943;
$primaryi800 : #5E082D;
$primaryi900 : #2E0517;
$primaryi950 : #17030C;

// Info 
$infoi50 : #EBEFFF;
$infoi100 : #D6E0FF;
$infoi200 : #A8BDFF;
$infoi300 : #809DFF;
$infoi400 : #527AFF;
$infoi500 : #295BFF;
$infoi600 : #0037EB;
$infoi700 : #002AB3;
$infoi800 : #001B75;
$infoi900 : #000E3D;
$infoi950 : #00071F;

// Alert
$alerti50 : #FFF8E5;
$alerti100 : #FFF3D1;
$alerti200 : #FFE59E;
$alerti300 : #FFD970;
$alerti400 : #FFCB3D;
$alerti500 : #FFBF0F;
$alerti600 : #D69D00;
$alerti700 : #A37800;
$alerti800 : #6B4F00;
$alerti900 : #382900;
$alerti950 : #1A1300;


// Success
$successi50 : #E6FAEE;
$successi100 : #D0F5E1;
$successi200 : #A2ECC2;
$successi300 : #73E2A4;
$successi400 : #45D985;
$successi500 : #27BE69;
$successi600 : #21A159;
$successi700 : #17723F;
$successi800 : #12542F;
$successi900 : #082615;
$successi950 : #031109;

// Warning
$warningi50 : #FEECEE;
$warningi100 : #FCD9DE;
$warningi200 : #FAB3BD;
$warningi300 : #F78C9C;
$warningi400 : #F5667A;
$warningi500 : #F2415A;
$warningi600 : #E5102E;
$warningi700 : #AC0C22;
$warningi800 : #730817;
$warningi900 : #39040B;
$warningi950 : #1D0206;









