// Color Variables
// UI Colors
$ui0 : #ffffff;
$ui25 : #FAF5F7;
$ui50 : #F6EEF2;
$ui100 : #EDDFE5;
$ui150 : #E3CFD7;
$ui200 : #D8C0CA;
$ui300 : #C2A4B1;
$ui400 : #A98997;
$ui500 : #8F707D;
$ui600 : #765664;
$ui700 : #5C3D4A;
$ui750 : #4E323E;
$ui800 : #3F2731;
$ui850 : #301C25;
$ui900 : #211319;
$ui1000 : #000000;



