.tfhb-meeting-box .tfhb-meeting-card {
  border-radius: 16px;
  border: 0.5px solid #E3CFD7;
  background: #FFF;
  box-shadow: 0px 0px 8px 2px rgba(255, 221, 236, 0.3) inset, 0px 0px 0px 16px #FEF1F7;
  display: flex;
  gap: 24px;
  width: fit-content;
  position: relative;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-preloader {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-preloader::after {
  position: absolute;
  left: 0;
  content: "";
  background-color: #000 !important;
  height: 100%;
  width: 100%;
  opacity: 0.1;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info {
  width: 322px;
  border-right: 0.5px solid #E3CFD7;
  background: #FFF;
  border-radius: 16px 0 0 16px;
  box-shadow: -8px 0px 30px 0px rgba(40, 16, 26, 0.2);
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-host-info {
  padding: 38px 16px 16px 16px;
  border-radius: 16px 0 0 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-host-info .tfhb-host-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-host-info .tfhb-host-profile .tfhb-host-name h3 {
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 160% */
  margin: 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-host-info .tfhb-host-profile .tfhb-host-name p {
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
  margin: 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-meeting-details {
  padding: 8px 16px 16px 16px;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-meeting-details h2 {
  color: #3F2731;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 33px */
  margin: 0 0 8px 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-meeting-details p {
  color: #765664;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  margin: 0 0 16px 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-meeting-details p span {
  color: #3F2731;
  cursor: pointer;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-meeting-details ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 40px;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-meeting-details ul li {
  color: #765664;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 160% */
  margin-bottom: 8px;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-meeting-details ul li:last-child {
  margin-bottom: 0px;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-meeting-details ul li span {
  border-radius: 6px;
  border: 1px solid #F6EEF2;
  padding: 0 16px;
  margin: 0 8px;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-meeting-details ul li .tfhb-icon {
  border-radius: 6px;
  border: 0.2px solid rgba(227, 207, 215, 0.2);
  background: #FFF;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-meeting-details .tfhb-timezone {
  border-radius: 8px;
  border: 0.5px solid rgba(227, 207, 215, 0.2);
  background: #FFF;
  box-shadow: 0px 8px 16px 0px rgba(40, 16, 26, 0.04);
  padding: 8px 12px;
  justify-content: space-between;
  padding: 0 !important;
  position: relative;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-meeting-details .tfhb-timezone .tfhb-timezone-title {
  color: #3F2731;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 160% */
  width: calc(100% - 24px);
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-meeting-details .tfhb-timezone .select2-selection {
  padding-left: 2em !important;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-meeting-details .tfhb-timezone .tfhb-timezone-icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 35px;
  text-align: center;
  padding: 0.6em 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-calendar {
  padding: 16px 16px 16px 0;
  width: 536px;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-calendar .tfhb-calendar-container {
  width: 520px;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-calendar .tfhb-calendar-container header {
  display: flex;
  align-items: center;
  padding: 0px 0px 16px 0;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(227, 207, 215, 0.2);
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-calendar .tfhb-calendar-container header .tfhb-calendar-navigation {
  display: flex;
  border-radius: 8px;
  border: 0.5px solid rgba(227, 207, 215, 0);
  background: #FFF;
  box-shadow: 0px 8px 16px 0px rgba(40, 16, 26, 0.04);
  width: 92px;
  justify-content: space-between;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-calendar .tfhb-calendar-container header .tfhb-calendar-navigation span {
  cursor: pointer;
  font-size: 1.9rem;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-calendar .tfhb-calendar-container header .tfhb-calendar-navigation span#tfhb-calendar-next {
  position: relative;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-calendar .tfhb-calendar-container header .tfhb-calendar-navigation span#tfhb-calendar-next::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #765664;
  border-radius: 50%;
  left: -30px;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-calendar .tfhb-calendar-current-date {
  color: #3F2731;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 33px */
  margin: 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-calendar .tfhb-calendar-body ul.tfhb-calendar-weekdays {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  gap: 12px;
  margin: 12px 0 16px 0;
  padding: 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-calendar .tfhb-calendar-body ul.tfhb-calendar-weekdays li {
  color: #3F2731;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 160% */
  width: 64px;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-calendar .tfhb-calendar-body ul.tfhb-calendar-dates {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  gap: 12px;
  padding: 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-calendar .tfhb-calendar-body ul.tfhb-calendar-dates li {
  border: 0.5px solid rgba(227, 207, 215, 0);
  width: 64px;
  color: #3F2731;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  padding: 16px 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-calendar .tfhb-calendar-body ul.tfhb-calendar-dates li.inactive {
  color: #765664;
  cursor: not-allowed !important;
  background-color: transparent !important;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-calendar .tfhb-calendar-body ul.tfhb-calendar-dates li.current {
  border-radius: 8px;
  border: 0.5px solid rgba(227, 207, 215, 0);
  background: #F6EEF2;
  cursor: pointer;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-calendar .tfhb-calendar-body ul.tfhb-calendar-dates li.current.active {
  background: #F62881 !important;
  box-shadow: 0px 8px 30px 0px rgba(229, 0, 99, 0.3);
  color: #FFF !important;
  position: relative;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-calendar .tfhb-calendar-body ul.tfhb-calendar-dates li.current.active::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 16px;
  border-radius: 16px;
  background: #FFF;
  bottom: 9px;
  left: 50%;
  margin-left: -8px;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-times {
  width: 224px;
  padding: 16px 16px 16px 0;
  display: none;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-times .tfhb-timezone-tabs {
  text-align: right;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-times .tfhb-timezone-tabs ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 8px;
  border: 0.5px solid rgba(227, 207, 215, 0.2);
  background: #FFF;
  box-shadow: 0px 8px 16px 0px rgba(40, 16, 26, 0.04);
  padding: 4px;
  display: inline-flex;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-times .tfhb-timezone-tabs ul li label {
  display: inline-block;
  padding: 4px 8px;
  color: #8F707D;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 145.455% */
  cursor: pointer;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-times .tfhb-timezone-tabs ul li label input {
  display: none;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-times .tfhb-timezone-tabs ul li.active label {
  border-radius: 4px;
  background: #F6EEF2;
  color: #3F2731;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-times h3 {
  color: #3F2731;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 25.5px */
  margin: 24px 0 16px 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-times .tfhb-available-times ul {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 338px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  overflow-y: auto;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-times .tfhb-available-times ul li {
  gap: 12px;
  width: 100%;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-times .tfhb-available-times ul li span {
  border-radius: 8px;
  border: 0.5px solid #F62881;
  background: #FFF;
  padding: 16px 10px;
  color: #F62881;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-times .tfhb-available-times ul li span.next {
  border-radius: 8px;
  background: #F62881;
  color: #FFF;
  align-items: center;
  justify-content: center;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form {
  width: calc(100% - 346px);
  padding: 16px 16px 16px 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form .tfhb-back-btn {
  align-items: center;
  cursor: pointer;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form .tfhb-back-btn h3 {
  color: #3F2731;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 25.5px */
  margin: 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form .tfhb-forms {
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form .tfhb-forms .tfhb-single-form {
  width: 100%;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form .tfhb-forms .tfhb-single-form label {
  color: #3F2731;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
  margin: 0 0 4px 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form .tfhb-forms .tfhb-single-form input[type=text],
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form .tfhb-forms .tfhb-single-form input[type=email],
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form .tfhb-forms .tfhb-single-form textarea {
  border-radius: 8px;
  border: 0.5px solid #E3CFD7;
  background: #FFF;
  height: 40px;
  width: 100%;
  padding: 8px 12px;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form .tfhb-forms .tfhb-single-form input[type=text]:focus,
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form .tfhb-forms .tfhb-single-form input[type=email]:focus,
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form .tfhb-forms .tfhb-single-form textarea:focus {
  outline: none;
  box-shadow: none;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form .tfhb-forms .tfhb-single-form textarea {
  height: 90px;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form .tfhb-forms .tfhb-confirmation-box {
  flex-wrap: wrap;
  gap: 24px;
  margin: 16px 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form .tfhb-forms .tfhb-confirmation-box .tfhb-swicher-wrap {
  width: 100%;
  align-items: center;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form .tfhb-forms .tfhb-confirmation-box .tfhb-swicher-wrap .swicher-label {
  color: #3F2731;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form .tfhb-forms .tfhb-confirmation-box .tfhb-checkbox-wrap {
  width: 100%;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form .tfhb-forms .tfhb-confirmation-button {
  width: 100%;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form .tfhb-forms .tfhb-confirmation-button button {
  border-radius: 8px;
  background: #F62881;
  padding: 16px;
  color: #FFF;
  justify-content: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  cursor: pointer;
  width: 224px;
  border: 0px solid;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-confirmation {
  width: 500px;
  margin: 64px 265px 64px;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-confirmation .tfhb-confirmation-seccess {
  text-align: center;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-confirmation .tfhb-confirmation-seccess img {
  height: 66px;
  width: 66px;
  margin-bottom: 24px;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-confirmation .tfhb-confirmation-seccess h3 {
  color: #3F2731;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 33px */
  margin: 0 0 16px 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-confirmation .tfhb-confirmation-seccess p {
  color: #765664;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  margin: 0 0 16px 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-confirmation .tfhb-meeting-hostinfo {
  border-radius: 8px;
  background: #FAF5F7;
  padding: 24px;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-confirmation .tfhb-meeting-hostinfo h3 {
  color: #3F2731;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 25.5px */
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-confirmation .tfhb-meeting-hostinfo ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-confirmation .tfhb-meeting-hostinfo ul li {
  color: #765664;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid rgba(227, 207, 215, 0.1);
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-confirmation .tfhb-meeting-hostinfo ul li:last-child {
  margin-bottom: 0px;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-confirmation .tfhb-meeting-hostinfo ul li span {
  border-radius: 16px;
  background: #EBEFFF;
  padding: 4px 8px;
  color: #0037EB;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 145.455% */
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-confirmation .tfhb-meeting-hostinfo ul li .tfhb-icon {
  border-radius: 6px;
  border: 0.2px solid rgba(227, 207, 215, 0.2);
  background: #FFF;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-confirmation .tfhb-meeting-confirmation-calender {
  margin: 32px 0 0 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-confirmation .tfhb-meeting-confirmation-calender h3 {
  color: #3F2731;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  margin: 0 0 8px 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-confirmation .tfhb-meeting-confirmation-calender ul {
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-confirmation .tfhb-meeting-confirmation-calender ul li a img {
  width: 32px;
  height: 32px;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-confirmation .tfhb-meeting-confirmation-action {
  justify-content: center;
  margin-top: 24px;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-confirmation .tfhb-meeting-confirmation-action button {
  border-radius: 8px;
  border: 1px solid #F6EEF2;
  background: #FFF;
  padding: 8px 24px;
  width: 158px;
  color: #765664;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  cursor: pointer;
}

.tfhb-single-meeting-section {
  padding: 60px 0px;
}

.tfhb-flexbox {
  display: flex;
}

.tfhb-gap-16 {
  gap: 16px;
}

.tfhb-gap-8 {
  gap: 8px;
}

.tfhb-select2-dropdown.select2-dropdown--below {
  top: 20px;
}

.tfhb-swicher-wrap {
  /* Rounded sliders */
}
.tfhb-swicher-wrap .switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 20px;
  margin: 0;
}
.tfhb-swicher-wrap .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.tfhb-swicher-wrap .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E3CFD7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 10px;
  margin: 0 !important;
}
.tfhb-swicher-wrap .switch .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3px;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
.tfhb-swicher-wrap .switch input:checked + .slider {
  background-color: #F62881;
}
.tfhb-swicher-wrap .switch input:focus + .slider {
  box-shadow: none;
}
.tfhb-swicher-wrap .switch input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}
.tfhb-swicher-wrap .switch .slider.round {
  border-radius: 34px;
}
.tfhb-swicher-wrap .slider.round:before {
  border-radius: 50%;
}

.tfhb-checkbox-wrap input[type=checkbox] {
  display: none;
}
.tfhb-checkbox-wrap .checkmark {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 20px;
  width: 20px;
  background-color: #F6EEF2;
  border-radius: 5px;
  border: 1px solid #F6EEF2;
  margin: 0;
}
.tfhb-checkbox-wrap .checkmark:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 11px;
  border: solid #F6EEF2;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  display: none;
}
.tfhb-checkbox-wrap label {
  color: #3F2731;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  position: relative;
  padding-left: 40px;
}
.tfhb-checkbox-wrap label input:checked ~ .checkmark {
  background-color: #F62881;
  border: 1px solid #F62881;
}
.tfhb-checkbox-wrap label input:checked ~ .checkmark:after {
  display: block;
}

/*# sourceMappingURL=style.css.map */
