.tfhb-meeting-box .tfhb-meeting-card {
  border-radius: 16px;
  border: 0.5px solid #E3CFD7;
  background: #FFF;
  box-shadow: 0px 0px 8px 2px rgba(255, 221, 236, 0.3) inset, 0px 0px 0px 16px #FEF1F7;
  display: flex;
  justify-content: space-between;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info {
  width: 322px;
  border-right: 0.5px solid #E3CFD7;
  background: #FFF;
  border-radius: 16px 0 0 16px;
  box-shadow: -8px 0px 30px 0px rgba(40, 16, 26, 0.2);
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-host-info {
  padding: 38px 16px 16px 16px;
  border-radius: 16px 0 0 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-host-info .tfhb-host-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-host-info .tfhb-host-profile .tfhb-host-name h3 {
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 160% */
  margin: 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-host-info .tfhb-host-profile .tfhb-host-name p {
  color: #FFF;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
  margin: 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-meeting-details {
  padding: 8px 16px 16px 16px;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-meeting-details h2 {
  color: #3F2731;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 33px */
  margin: 0 0 8px 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-meeting-details p {
  color: #765664;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  margin: 0 0 16px 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-meeting-details p span {
  color: #3F2731;
  cursor: pointer;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-meeting-details ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-meeting-details ul li {
  color: #765664;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 160% */
  margin-bottom: 8px;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-meeting-details ul li:last-child {
  margin-bottom: 0px;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-meeting-details ul li span {
  border-radius: 6px;
  border: 1px solid #F6EEF2;
  padding: 0 16px;
  margin: 0 8px;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-meeting-details ul li .tfhb-icon {
  border-radius: 6px;
  border: 0.2px solid rgba(227, 207, 215, 0.2);
  background: #FFF;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-meeting-details .tfhb-timezone {
  border-radius: 8px;
  border: 0.5px solid rgba(227, 207, 215, 0.2);
  background: #FFF;
  box-shadow: 0px 8px 16px 0px rgba(40, 16, 26, 0.04);
  padding: 8px 12px;
  justify-content: space-between;
  margin-top: 40px;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-info .tfhb-meeting-details .tfhb-timezone .tfhb-timezone-title {
  color: #3F2731;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 160% */
  width: calc(100% - 24px);
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-times {
  width: 224px;
  padding: 16px 16px 16px 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-times .tfhb-timezone-tabs {
  text-align: right;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-times .tfhb-timezone-tabs ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 8px;
  border: 0.5px solid rgba(227, 207, 215, 0.2);
  background: #FFF;
  box-shadow: 0px 8px 16px 0px rgba(40, 16, 26, 0.04);
  padding: 4px;
  display: inline-flex;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-times .tfhb-timezone-tabs ul li {
  display: inline-block;
  padding: 4px 8px;
  color: #8F707D;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 145.455% */
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-times .tfhb-timezone-tabs ul li.active {
  border-radius: 4px;
  background: #F6EEF2;
  color: #3F2731;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-times h3 {
  color: #3F2731;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 25.5px */
  margin: 24px 0 16px 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-times .tfhb-available-times ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 338px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  overflow-y: auto;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-times .tfhb-available-times ul li {
  gap: 12px;
  width: 100%;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-times .tfhb-available-times ul li span {
  border-radius: 8px;
  border: 0.5px solid #F62881;
  background: #FFF;
  padding: 16px 10px;
  color: #F62881;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  width: 100%;
  text-align: center;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-times .tfhb-available-times ul li span.next {
  border-radius: 8px;
  background: #F62881;
  color: #FFF;
  align-items: center;
  justify-content: center;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form {
  width: calc(100% - 346px);
  padding: 16px 16px 16px 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form .tfhb-back-btn {
  align-items: center;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form .tfhb-back-btn h3 {
  color: #3F2731;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 25.5px */
  margin: 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form .tfhb-forms {
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form .tfhb-forms .tfhb-single-form {
  width: 100%;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form .tfhb-forms .tfhb-single-form label {
  color: #3F2731;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
  margin: 0 0 4px 0;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form .tfhb-forms .tfhb-single-form input[type=text],
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form .tfhb-forms .tfhb-single-form input[type=email],
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form .tfhb-forms .tfhb-single-form textarea {
  border-radius: 8px;
  border: 0.5px solid #E3CFD7;
  background: #FFF;
  height: 40px;
  width: 100%;
}
.tfhb-meeting-box .tfhb-meeting-card .tfhb-meeting-booking-form .tfhb-forms .tfhb-single-form textarea {
  height: 90px;
}

.tfhb-flexbox {
  display: flex;
}

.tfhb-gap-8 {
  gap: 8px;
}

/*# sourceMappingURL=style.css.map */
